<template data-sly-template.variation1="${@ inputData}">
   <section class="praxis-contactus-filter cmp-container--body">
    <div data-sly-test="${inputData.sectionTitle}" class="praxis-contactus-filter__title">${inputData.sectionTitle @context='html'}</div>
   <select class="praxis-contactus-dropdown" id="praxis-contactus" data-praxis-contactus-path="${inputData.json}" data-placeholder="${inputData.placeholderText}" aria-label="${inputData.inputAriaLabel}"><option></option></select>
   <table class="praxis-contactus-filter__table">
       <tbody class="praxis-contactus-filter__table__content" role="presentation">

       </tbody>
   </table>
</section>
</template>