<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-text'}"></sly>
<sly data-sly-use.multifieldObj="org.ets.core.models.MultifieldListModel"></sly>
<sly data-sly-test.multifieldMap=${multifieldObj.getMultifield}></sly>

<sly data-sly-use.header="org.ets.core.models.HeaderModel"></sly>
<sly data-sly-test.commonLink="${header.getCfMap}"></sly>
<sly data-sly-test.languageMap="${header.getLangMap}"></sly>
<div class="mainheaderWrap">
    <div class="d-none d-xl-block top-nav">
        <div class="ComponentContent">
            <div class="header-top desktoponly">
                <nav class="navbar p-0">
                    <div class="collapse show navbar-collapse " id="topnav">

                        <ul class="navbar-nav me-auto topnav-list">
                            <li class="nav-item" data-sly-test="${currentPage.getPath!='/content/ets-org/language-master/en/home'}">
                                <a class="nav-link theme-generic-bar" href="/">Home</a>
                            </li>

                            <li class="nav-item" data-sly-use.isActive="${'product-menu.js' @ brand='gre'}">
                                <a class="nav-link theme-gre-bar ${isActive}" href="/content/ets-org/language-master/en/home/gre.html">GRE</a>
                            </li>

                            <li class="nav-item" data-sly-use.isActive="${'product-menu.js' @ brand='praxis'}">
                                <a class="nav-link theme-praxis-bar ${isActive}" href="/content/ets-org/language-master/en/home/praxis/site.html">PRAXIS</a>
                            </li>

                            <li class="nav-item" data-sly-use.isActive="${'product-menu.js' @ brand='toeic'}">
                                <a class="nav-link theme-toeic-bar ${isActive}" href="/content/ets-org/language-master/en/home/toeic.html">TOEIC</a>
                            </li>

                            <li class="nav-item" data-sly-use.isActive="${'product-menu.js' @ brand='toefl'}">
                                <a class="nav-link theme-toefl-bar ${isActive}" href="/content/ets-org/language-master/en/home/toefl.html">TOEFL</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link theme-allproduct-bar" href="/content/ets-org/language-master/en/home/products.html">ALL PRODUCTS</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="topnav-btns">
                    <sly data-sly-test="${pageProperties.enableLanguage}">
                        <div class="language-dropdown dropdown">
                            <button class="header-button dropdown-toggle" id="language" role="combobox" aria-owns="languageDD" aria-label="Press Enter key or space bar to display available language options, you will be redirected to appropriate language page after choosing a language" data-bs-auto-close="true" data-bs-toggle="dropdown" data-bs-hover="dropdown" aria-expanded="false">
                                <img class="language-image" src="/content/dam/ets-org/icons/commons/language.svg" alt="">
                                <span class="header-store-title" aria-label="Selected Page Language is English"></span>
                                <img class="language-down-arrow" src="/content/dam/ets-org/icons/commons/down_arrow.svg" alt="">
                            </button>
                            <ul class="dropdown-menu" id="languageDD" role="listbox" aria-labelledby="${header.languageMenuAriaLabel}">
                                <sly data-sly-list.lang="${languageMap.langList.listChildren}">
                                    <li role="option">
                                        <a data-sly-test="${langList.first}" class="dropdown-item nav-menu-item en-lang" data-language-url="${lang.langUrl}" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=currentpage.getPath}" data-full-link="${lang.langUrl}${linkValidate.link}" href="javascript:void(0)" aria-label="Select ${lang.langName}">${lang.langName}</a>
                                        <a data-sly-test="${!langList.first}" class="dropdown-item nav-menu-item" data-language-url="${lang.langUrl}" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=currentpage.getPath}" href="${lang.langUrl}${linkValidate.link}" aria-label="Select ${lang.langName}">${lang.langName}</a>
                                    </li>
                                </sly>
                            </ul>
                        </div>
                        <div class="header-vertical-separator"></div>
                    </sly>
                    <a class="contactlink" aria-label="${commonLink.contactAriaLabel}" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=commonLink.contactPageLink}" href="${linkValidate.link}">${commonLink.contactUsLabel}</a>
                    <div class="login-btn"><a class="cta-btn-quartenary" aria-label="${commonLink.loginAriaLabel}" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=commonLink.loginUrl}" href="${linkValidate.link}">${commonLink.loginLabel}</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mega-nav-bg">
        <div class="ComponentContent">
            <div class="header-container">
                <div class="header-logo px-0" data-sly-list.logo="${multifieldMap.logo.listChildren}"><a data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=logo.linkurl}" href="${linkValidate.link}" title=""><sly data-sly-use.imgMetadata="${'org.ets.core.models.DamMetadataModel' @imgPath=logo.image}"></sly><img src="${logo.image}" loading="${currentStyle.disableLazyLoading ? '' : 'lazy'}" alt="${logo.altText ? logo.altText : imgMetadata.alttxt}"></a></div>
                <nav class="navbar navbar-expand-xl p-0">
                    <div class="collapse navbar-collapse" id="megaMenu">
                        <div class="mobileonly mobilelogo">
                            <div class="header-logo" data-sly-list.logo="${multifieldMap.logo.listChildren}"><a data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=logo.linkurl}" href="${linkValidate.link}" title=""><sly data-sly-use.imgMetadata="${'org.ets.core.models.DamMetadataModel' @imgPath=logo.image}"></sly><img src="${logo.image}" loading="${currentStyle.disableLazyLoading ? '' : 'lazy'}" alt="${logo.altText ? logo.altText : imgMetadata.alttxt}"></a></div>
                            <button type="button" class="btn-close close-nav" data-bs-toggle="collapse" data-bs-target="#megaMenu">Close</button>
                        </div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown mobileonly mobile-top-nav">
                                <a class="nav-link dropdown-toggle" href="#" id="productName" role="button" data-bs-auto-close="true" data-bs-toggle="dropdown" data-bs-hover="dropdown" aria-expanded="false">
                                    ${header.productName}</a>
                                <ul class="dropdown-menu" data-bs-popper="none">
                                    <li><a class="dropdown-item nav-menu-item" href="/content/ets-org/language-master/en/home/gre.html">GRE</a></li>

                                    <li><a class="dropdown-item nav-menu-item" href="/content/ets-org/language-master/en/home/praxis/site.html">PRAXIS</a></li>

                                    <li><a class="dropdown-item nav-menu-item" href="/content/ets-org/language-master/en/home/toeic.html">TOEIC</a></li>

                                    <li><a class="dropdown-item nav-menu-item" href="/content/ets-org/language-master/en/home/toefl.html">TOEFL</a></li>

                                    <li><a class="dropdown-item nav-menu-item" href="/content/ets-org/language-master/en/home/products.html">ALL PRODUCTS</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown" data-sly-test="${header.navtitle1}">
                                <button type="button" class="nav-link dropdown-toggle" href="#" id="testTakers" aria-label="Press Enter key to display ${header.navtitle1} links in the dropdown" aria-controls="testTakersDD"  aria-owns="testTakersDD" role="button" data-bs-auto-close="true" data-bs-toggle="dropdown" data-bs-hover="dropdown" aria-expanded="false">
                                    ${header.navtitle1}
                                </button>
                                <div class="dropdown-menu dropdown-large h-auto" id="testTakersDD" role="listbox" aria-labelledby="${header.nav1AriaLabel}">
                                    <div class="d-flex h-auto">
                                        <ul data-sly-test="${multifieldMap.column11}">
                                            <li class="nav-menu-header" data-sly-test="${header.col1title1}">${header.col1title1}</li>
                                            <sly data-sly-list.column1="${multifieldMap.column11.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column1.navlink}" href="${linkValidate.link}" target="${column1.newTab ? '_blank' : ''}" rel="${column1.newTab ? 'noopener noreferrer' : ''}">${column1.navtext}</a></li>
                                            </sly>
                                        </ul>
                                        <ul data-sly-test="${multifieldMap.column12}">
                                            <li class="nav-menu-header" data-sly-test="${header.col2title1}">${header.col2title1}</li>
                                            <sly data-sly-list.column2="${multifieldMap.column12.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column2.navlink}" href="${linkValidate.link}" target="${column2.newTab ? '_blank' : ''}" rel="${column2.newTab ? 'noopener noreferrer' : ''}">${column2.navtext}</a></li>
                                            </sly>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown" data-sly-test="${header.navtitle2}">
                                <button type="button" class="nav-link dropdown-toggle" href="#" id="educators" aria-label="Press Enter key to display ${header.navtitle2} links in the dropdown" aria-controls="educatorsDD" role="button" data-bs-auto-close="true" data-bs-toggle="dropdown" data-bs-hover="dropdown" aria-expanded="false">
                                    ${header.navtitle2}
                                </button>
                                <div class="dropdown-menu dropdown-large h-auto" id="educatorsDD" role="listbox" aria-labelledby="${header.nav2AriaLabel}">
                                    <div class="d-flex h-auto">
                                        <ul data-sly-test="${multifieldMap.column21}">
                                            <li class="nav-menu-header" data-sly-test="${header.col1title2}">${header.col1title2}</li>
                                            <sly data-sly-list.column1="${multifieldMap.column21.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column1.navlink}" href="${linkValidate.link}" target="${column1.newTab ? '_blank' : ''}" rel="${column1.newTab ? 'noopener noreferrer' : ''}">${column1.navtext}</a></li>
                                            </sly>
                                        </ul>
                                        <ul data-sly-test="${multifieldMap.column22}">
                                            <li class="nav-menu-header" data-sly-test="${header.col2title2}">${header.col2title2}</li>
                                            <sly data-sly-list.column2="${multifieldMap.column22.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column2.navlink}" href="${linkValidate.link}" target="${column2.newTab ? '_blank' : ''}" rel="${column2.newTab ? 'noopener noreferrer' : ''}">${column2.navtext}</a></li>
                                            </sly>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown" data-sly-test="${header.navtitle3}">
                                <button type="button" class="nav-link dropdown-toggle" href="#" aria-label="Press Enter key to display ${header.navtitle3} links in the dropdown" aria-controls="institutionsDD" aria-owns="institutionsDD" id="institutions" role="button" data-bs-auto-close="true" data-bs-toggle="dropdown" data-bs-hover="dropdown" aria-expanded="false">
                                    ${header.navtitle3}
                                </button>
                                <div class="dropdown-menu dropdown-large h-auto" id="institutionsDD" role="listbox" aria-labelledby="${header.nav3AriaLabel}">
                                    <div class="d-flex h-auto">
                                        <ul data-sly-test="${multifieldMap.column31}">
                                            <li class="nav-menu-header" data-sly-test="${header.col1title3}">${header.col1title3}</li>
                                            <sly data-sly-list.column1="${multifieldMap.column31.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column1.navlink}" href="${linkValidate.link}" target="${column1.newTab ? '_blank' : ''}" rel="${column1.newTab ? 'noopener noreferrer' : ''}">${column1.navtext}</a></li>
                                            </sly>
                                        </ul>
                                        <ul data-sly-test="${multifieldMap.column32}">
                                            <li class="nav-menu-header" data-sly-test="${header.col2title3}">${header.col2title3}</li>
                                            <sly data-sly-list.column2="${multifieldMap.column32.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column2.navlink}" href="${linkValidate.link}" target="${column2.newTab ? '_blank' : ''}" rel="${column2.newTab ? 'noopener noreferrer' : ''}">${column2.navtext}</a></li>
                                            </sly>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown" data-sly-test="${header.navtitle4}">
                                <button type="button" class="nav-link dropdown-toggle" href="#" aria-label="Press Enter key to display ${header.navtitle4} links in the dropdown" aria-controls="businessDD" aria-owns="businessDD" id="business" role="button" data-bs-auto-close="true" data-bs-toggle="dropdown" data-bs-hover="dropdown" aria-expanded="false">
                                    ${header.navtitle4}
                                </button>
                                <div class="dropdown-menu dropdown-large h-auto" id="businessDD" role="listbox" aria-labelledby="${header.nav4AriaLabel}">
                                    <div class="d-flex h-auto">
                                        <ul data-sly-test="${multifieldMap.column41}">
                                            <li class="nav-menu-header" data-sly-test="${header.col1title4}">${header.col1title4}</li>
                                            <sly data-sly-list.column1="${multifieldMap.column41.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column1.navlink}" href="${linkValidate.link}" target="${column1.newTab ? '_blank' : ''}" rel="${column1.newTab ? 'noopener noreferrer' : ''}">${column1.navtext}</a></li>
                                            </sly>
                                        </ul>
                                        <ul data-sly-test="${multifieldMap.column42}">
                                            <li class="nav-menu-header" data-sly-test="${header.col2title4}">${header.col2title4}</li>
                                            <sly data-sly-list.column2="${multifieldMap.column42.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column2.navlink}" href="${linkValidate.link}" target="${column2.newTab ? '_blank' : ''}" rel="${column2.newTab ? 'noopener noreferrer' : ''}">${column2.navtext}</a></li>
                                            </sly>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown" data-sly-test="${header.navtitle5}">
                                <button type="button" class="nav-link dropdown-toggle" href="#" aria-label="Press Enter key to display ${header.navtitle5} links in the dropdown" aria-controls="governmentsDD" aria-owns="governmentsDD" id="governments" role="button" data-bs-auto-close="true" data-bs-toggle="dropdown" data-bs-hover="dropdown" aria-expanded="false">
                                    ${header.navtitle5}
                                </button>
                                <div class="dropdown-menu dropdown-large h-auto" id="governmentsDD" role="listbox" aria-labelledby="${header.nav5AriaLabel}">
                                    <div class="d-flex h-auto">
                                        <ul data-sly-test="${multifieldMap.column51}">
                                            <li class="nav-menu-header" data-sly-test="${header.col1title5}">${header.col1title5}</li>
                                            <sly data-sly-list.column1="${multifieldMap.column51.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column1.navlink}" href="${linkValidate.link}" target="${column1.newTab ? '_blank' : ''}" rel="${column1.newTab ? 'noopener noreferrer' : ''}">${column1.navtext}</a></li>
                                            </sly>
                                        </ul>
                                        <ul data-sly-test="${multifieldMap.column52}">
                                            <li class="nav-menu-header" data-sly-test="${header.col2title5}">${header.col2title5}</li>
                                            <sly data-sly-list.column2="${multifieldMap.column52.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column2.navlink}" href="${linkValidate.link}" target="${column2.newTab ? '_blank' : ''}" rel="${column2.newTab ? 'noopener noreferrer' : ''}">${column2.navtext}</a></li>
                                            </sly>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown" data-sly-test="${header.navtitle6}">
                                <button type="button" class="nav-link dropdown-toggle" href="#" aria-label="Press Enter key to display ${header.navtitle6} links in the dropdown" aria-controls="researchDD" id="research" aria-owns="researchDD" role="button" data-bs-auto-close="true" data-bs-toggle="dropdown" data-bs-hover="dropdown" aria-expanded="false">
                                    ${header.navtitle6}
                                </button>
                                <div class="dropdown-menu dropdown-large h-auto" id="researchDD" role="listbox" aria-labelledby="${header.nav6AriaLabel}">
                                    <div class="d-flex h-auto">
                                        <ul data-sly-test="${multifieldMap.column61}">
                                            <li class="nav-menu-header" data-sly-test="${header.col1title6}">${header.col1title6}</li>
                                            <sly data-sly-list.column1="${multifieldMap.column61.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column1.navlink}" href="${linkValidate.link}" target="${column1.newTab ? '_blank' : ''}" rel="${column1.newTab ? 'noopener noreferrer' : ''}">${column1.navtext}</a></li>
                                            </sly>
                                        </ul>
                                        <ul data-sly-test="${multifieldMap.column62}">
                                            <li class="nav-menu-header" data-sly-test="${header.col2title6}">${header.col2title6}</li>
                                            <sly data-sly-list.column2="${multifieldMap.column62.listChildren}">
                                                <li role="option"><a class="dropdown-item nav-menu-item" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=column2.navlink}" href="${linkValidate.link}" target="${column2.newTab ? '_blank' : ''}" rel="${column2.newTab ? 'noopener noreferrer' : ''}">${column2.navtext}</a></li>
                                            </sly>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="nav-bottomlist mobileonly">
                            <div class="login-btn"><a class="cta-btn-quartenary" aria-label="${commonLink.loginAriaLabel}" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=commonLink.loginUrl}" href="${linkValidate.link}">${commonLink.loginLabel}</a></div>
                            <sly data-sly-test="${pageProperties.enableLanguage}">
                                <div class="language-dropdown dropup">
                                    <button class="header-store-button dropdown-toggle d-flex" id="languageMobile" role="button" data-bs-auto-close="true" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="language-image" src="/content/dam/ets-org/icons/commons/language.svg" alt="Language">
                                        <span class="header-store-title"></span>
                                        <img class="language-down-arrow" src="/content/dam/ets-org/icons/commons/down_arrow.svg" alt=""></button>
                                    <ul class="dropdown-menu" aria-labelledby="${header.languageMenuAriaLabel}">
                                        <sly data-sly-list.lang="${languageMap.langList.listChildren}">
                                            <li>
                                                <a data-sly-test="${langList.first}" class="dropdown-item nav-menu-item en-lang" data-language-url="${lang.langUrl}" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=currentpage.getPath}" data-full-link="${lang.langUrl}${linkValidate.link}" href="javascript:void(0)">${lang.langName}</a>
                                                <a data-sly-test="${!langList.first}" class="dropdown-item nav-menu-item" data-language-url="${lang.langUrl}" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=currentpage.getPath}" href="${lang.langUrl}${linkValidate.link}">${lang.langName}</a>
                                            </li>
                                        </sly>
                                    </ul>
                                </div>
                            </sly>
                            <div>
                                <a aria-label="${commonLink.contactAriaLabel}" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=commonLink.contactPageLink}" href="${linkValidate.link}">${commonLink.contactUsLabel}</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header-icons">
                    <div class="headerSearch header-search-banner">
                        <div class="navsearchHeader">
                            <div id="nav-box" class="" tabindex="0" role="button" aria-label="${header.searchAriaLabelHeader}">
                                <i class="global-search__select__search-icon searchHeaderIcon">
                                    <img src="/content/dam/ets-org/icons/commons/search.svg" alt=""/>
                                    <img src="/content/dam/ets-org/icons/commons/search-icon-hover.svg" alt=""/>
                                    <img src="/content/dam/ets-org/icons/commons/search-mobile.svg" alt=""/>
                                </i>
                            </div>
                            <dialog role="dialog" aria-modal="true" id="nav-search" class="hidden headerList">
                                <div class="dialog-body">
                                    <ul >
                                        <li class="input animated fadeInRight">
                                            <span class="animated fadeIn" id="gssResultPageUrl" data-sly-use.linkValidate="${'org.ets.core.models.LinkValidatorModel' @link=header.searchResult}" data-gss-result-page-url="${linkValidate.link}"><span class="searchbtn"></span></span>
                                            <span class="animated fadeIn">
                                    <i class="global-search__select__search-icon searchHeaderIcon" tabindex="-1" role="button">
                                      <img src="/content/dam/ets-org/icons/commons/search.svg" alt=""/>
                                      <img src="/content/dam/ets-org/icons/commons/search-icon-hover.svg" alt=""/>
                                      <img src="/content/dam/ets-org/icons/commons/search-mobile.svg" alt=""/>
                                    </i>
                                  </span>
                                            <input type="text" id="searchhome" class="animated fadeInRight" autocomplete="off" aria-description="${header.searchAriaLabel}" placeholder="${header.searchPlaceholder}" />
                                        </li>
                                    </ul>
                                    <div aria-label="close" class="right animated fadeIn delay-1s headerClose"  tabindex="0" role="button">
                                        <i class="global-search__select__search-icon"></i>
                                    </div>
                                </div>
                            </dialog>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#megaMenu" aria-controls="megaMenu" aria-expanded="false" aria-label="${header.megaMenuAriaLabel}">
                        <img src="/content/dam/ets-org/icons/commons/hamBurger.svg" class="hamburger-image-mobile" alt="Navigation icon"/>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
