<sly data-sly-use.multifieldObj="org.ets.core.models.MultifieldListModel"></sly>
<sly data-sly-test.multifieldMap=${multifieldObj.getMultifield}></sly>
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = multifieldMap.isEmpty,classAppend='cmp-text'}"></sly>
<section data-sly-test="${!multifieldMap.isEmpty}">
    <div class="cmp-container--body w-100 position-relative reg-info">
        <div class="cards" data-sly-list.card="${multifieldMap.cards.listChildren}">
            <div class="card">
                <div class="card-body">
                    <span class="card-body--count">${cardList.count}</span>
                    <p data-sly-test="${card.text}">${card.text}</p>
                </div>
            </div>
        </div>
    </div>
</section>
