<div class=" pills praxis-pills1 ">
    <span class="rellax rellax-1" data-rellax-speed="1"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/praxis/pills1/pills1.svg" alt=""></span>
    <span class="rellax rellax-2" data-rellax-speed="1.3"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/praxis/pills1/pills2.svg" alt=""></span>
    <span class="rellax rellax-3" data-rellax-speed="1.6"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/praxis/pills1/pills3.svg" alt=""></span>
    <span class="rellax rellax-4" data-rellax-speed="2.2"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/praxis/pills1/pills4.svg" alt=""></span>
    <span class="rellax rellax-5" data-rellax-speed="2.5"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/praxis/pills1/pills5.svg" alt=""></span>
</div>