/*v2 Component*/
    .cmp-accordion {
        margin-top: 20px;
    .cmp-accordion__item {
        margin-bottom: 10px;
        border: 1px solid $accordian-border;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;;
            &:first-of-type {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }
            &:last-of-type {
                border-bottom-right-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }
        
            
        }
    .cmp-accordion__header {}
    .cmp-accordion__button {
        background-color: $color-accordian-background;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border: none;
        padding: 20px 28px;
        color: $color-ETS-midnight;
        box-shadow: none;
        font-weight: $normal;
        font-size: 1rem;
        position: relative;
            &:focus{
                    box-shadow: none;
                    border-bottom: 1px solid rgba(0,0,0,.08);
            }
            &:focus,
            &:hover{
                background-color:#D8EAFF;
            }
            .cmp-accordion__icon {
                    background-image: url(/content/dam/ets-org/icons/commons/accordion_plus.svg);
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    position: absolute;
                    right: 3%;
                    top: 34%;
            }
    }
    .cmp-accordion__button--expanded {
        font-weight: $bold;  
        border-bottom: 1px solid $accordian-border;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        .cmp-accordion__icon {
                    background-image: url(/content/dam/ets-org/icons/commons/accordion_minus.svg);
                    width: 24px;
                    height: 4px;
                    display: inline-block;
                    position: absolute;
                    right: 3%;
                    top: 44%;
        }
    }
    .cmp-accordion__title {
        display: inline-block;
        width: 96%;
    }
    .cmp-accordion__icon {}
    .cmp-accordion__panel {
        background-color: white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 60px 60px 83px;
            @include viewport(only-mobile) {
                padding: 26px 24px;
            }
    }
    .cmp-accordion__panel--expanded {}
    .cmp-accordion__panel--hidden {}
    }
    

/*v1 Component*/
.accordion-container {
    .accordion-item {
        margin-bottom: 10px;
        border-color: $accordian-border;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        .body-text {
            font-weight: $bold;
        }
        &:last-of-type {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .accordion-button {
            background-color: $color-accordian-background;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-color: none;
            padding: 29px 28px;
            color: $color-ETS-midnight;
            font-weight: $bold;
            box-shadow: none;
            border-bottom: 1px solid rgba(0,0,0,.08);
            &:focus{
                box-shadow: none;
                border-bottom: 1px solid rgba(0,0,0,.08);
            }
            &.collapsed {
                font-weight: $normal;
                border-bottom: 0px solid transparent;
            }
        }
        .accordion-body {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 60px 60px 83px;
            @include viewport(only-mobile) {
                padding: 26px 24px;
            }
        }
    }
    .accordion-button:not(.collapsed)::after {
        background-image: var(--accordian-minus-icon);
        margin-top: -14px;
    }
    .accordion-button::after {
        background-image: var(--accordian-plus-icon);
    }
    .accordion-item:not(:first-of-type) {
        border-top: 1px;
    }
    .accordion {
        height: auto;
    }
}