/*v2*/
.cmp-alertmessage {

}
/*v1*/
.alert-dialog-background {
    background-color: #fdb913;
    display: flex;
    column-gap: 0.75rem;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    @include fontsize(1rem, 1.5rem, $normal, $color-navy, initial);
    letter-spacing: .2px;
    padding-top: 8px;
    padding-bottom: 8px;
    a {
        padding: 2px;
        &:hover, &:focus {
            color: $color-navy;
            text-decoration: none;
            background-color: $ets-link-hover;
            border-radius: 4px;
        }
        &:focus {
            outline: 2px solid $ets-link;
            border-radius: 4px;
        }
    }
    &.alert-dismissible .btn-close {
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: 1;
        &:hover {
            opacity: 0.5;
        }
        &:focus {
            outline: -webkit-focus-ring-color auto 1px;
        }
    }
     .alert-dialog-text {
        a {
            @media (prefers-color-scheme: dark) {
                color: $ets-link;
            }
        }
    }
}