.key-benefits {
    &__layout {
        background: var(--key-benefit-container-color);
    }
    &__container {
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
        flex-flow: column;
        row-gap: 66px;
        padding: 6.25rem 0;
        @include viewport(only-mobile) {
            row-gap: 40px;
            align-items: start;
            padding: 3.125rem 0;
        }
        &--without-separator {
            display: flex;
            width: 100%;
            justify-content: start;
            align-items: center;
            flex-flow: column;
            row-gap: 40px;
            padding: 2.5rem 0 2.5rem 0;
            @include viewport(only-mobile) {
                row-gap: 20px;
                align-items: start;
                padding: 1.25rem 0 1.25rem 0;
            }
            .key-benefits__title {
                @include fontsize(1.875rem, 2.625rem, $bold, $color-ETS-bodyblack, initial);
                @include viewport(only-mobile) {
                    @include fontsize(1.5rem, 1.875rem, $bold, $color-ETS-bodyblack, initial);
                }
            }
            .key-benefits__card {
                column-gap: 40px;
                row-gap: 40px;
            }
            .key-benefits__card__container {
                max-width: 179px;
                row-gap: 20px;
                @include viewport(only-mobile) {
                    max-width: none;
                    width: 100%;
                }
            }
            .key-benefits__img {
                height: 60px;
                width: auto;
                @include viewport(only-mobile) {
                    height: auto;
                    width: 60px;
                }
            }
            .body-text {
                text-align: center;
                @include viewport(only-mobile) {
                    text-align: left;
                }
            }
        }
    }
    &__title {
        @include fontsize(1.875rem, 2.625rem, $bold, $color-ETS-midnight, initial);
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        span {
            display: inline-block;
        }
        @include viewport(only-mobile) {
            @include fontsize(1.5rem, 1.875rem, $bold, $color-ETS-midnight, initial);
            text-align: left;
        }
    }
    &__img {
        height: 80px;
        width: auto;
        @include viewport(only-mobile) {
            height: auto;
            width: 60px;
        }
    }
    &__card {
        display: flex;
        column-gap: 30px;
        width: 100%;
        justify-content: center;
        align-items: start;
        @include viewport(only-mobile) {
            flex-flow: column;
            row-gap: 30px;
        }
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: initial;
            background-clip: none;
            border: none;
            border-radius: 0;
            margin: 0;
            @include viewport(only-mobile) {
                flex-direction: row;
            }
        }
        &__container {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            max-width: 313px;
            .title21-28 {
                text-align: center;
                color: #003356;
            }
            @include viewport(only-mobile) {
                flex-flow: row;
                column-gap: 20px;
                max-width: none;
                width: 100%;
                justify-content: start;
                .title21-28 {
                    text-align: left;
                    @include fontsize(1rem, 1.375rem, $bold, $color-ETS-midnight, initial);
                }
            }
        }
        &__separator {
            border-left: 1px solid #000000;
            opacity: 0.3;
            -webkit-transform: rotate(90deg);
            transform: rotate(180deg);
            height: 127px;
            margin-top: 22px;
            @include viewport(only-mobile) {
                display: none;
            }
        }
    }
    &__cta-container {
        display: flex;
        column-gap: 24px;
        width: 100%;
        justify-content: center;
        align-items: center;
        @include viewport(only-mobile) {
            flex-flow: column;
            row-gap: 24px;
        }
        .quotes-banner-link-btn {
            margin: 0;
        }
    }
}