<!-- <!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
	<title>Error 500</title>
	<link rel="stylesheet" type="text/css" href="errorpage.css" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" /> </head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
	</script>
	<div class="cmp-container errorpage">
		<div class="alert  alert-dismissible fade show alert-dialog-background" role="alert"> <img class="alert-bell-image" 
		src="assets\images\bellIcon.svg" alt="bell">
			<div class="alert-dialog-text"> All services closed on July 28, 2021 <a href="">Sign up for updates</a> </div>
			<a type="button" class="btn-close closeIcon" data-bs-dismiss="alert" aria-label="Close"> </a>
		</div>
		<header>
			<div class="mega-nav-bg">
				<div class="error-ComponentContent ">
					<div class="error_header-container">
						<div class="header-logo px-0">
							<a href="https://www.ets.org/" title="ETS_logo"><img src="assets\images\ETS LOGO.svg" alt="ETS"></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="errorPage-body">
			<main>
				<div class="error-cmp-container--body">
					<div class="contents heading">
						<h1>ETS.org Temporarily Unavailable</h1> </div>
			
					<div>
						<div class="error_contents ">
							<p>ETS.org is currently unavailable due to site maintenance. Please try again later.</p>
							<p>The links below will take you directly to the:</p>
							<ul>
								<li>registration applications for the <span class="text-italic">TOEFL</span><sup class="reg">®</sup> tests</li>
								<li><span class="text-italic">GRE</span><sup class="reg">®</sup> online test-taker services</li>
								<li><span class="text-italic">GRE</span><sup class="reg">®</sup> and <span class="text-italic">TOEFL</span><sup class="reg">®</sup> Search Service</li>
								<li>ETS Rater systems</li>
								<li><span class="text-italic">ETS</span><sup class="reg">®</sup> Performance Assessment submission system</li>
								<li>ETS Institution Portal</li>
							</ul>
							<div>
								<p>We apologize for any inconvenience.</p>
							</div>
							<div class="subHeader_page">
								<h2>The TOEFL Tests</h2>
								<ul>
									<li><a href="https://v2.ereg.ets.org/ereg/public/jump?_p=TEL">My TOEFL iBT® Account</a></li>
								</ul>
							</div>
							<div class="subHeader_page">
								<h2>TOEFL Search Service</h2>
								<ul>
									<li><a href="https://portal.ets.org/instport/public/signin/?bmctx=B880D2D189D031F58DE255EC162DBCCE86E4E903EE30A7EEEF874FA7D2B67D87EC502E808176B9790C1F2F16FE13AE7A&amp;contextType=external&amp;username=string&amp;lockpage=https%3A%2F%2Fportal.ets.org%2Finstport%2Fpublic%2Faccountlock&amp;action=%2Faccess%2Foblix%2Fapps%2Fwebgate%2Fbin%2Fwebgate.so&amp;contextValue=%2Foam&amp;expiredpwdpage=https%3A%2F%2Feias.ets.org%2FxlWebApp%2Fexpiredpwd.jsp%3Fappid%3DIP&amp;password=sercure_string&amp;challenge_url=https%3A%2F%2Fportal.ets.org%2Finstport%2Fpublic%2Fsignin%2F&amp;ssoCookie=secure&amp;creds=username+password&amp;request_id=-2655621843112076927&amp;authn_try_count=0&amp;locale=en_US&amp;resource_url=https%253A%252F%252Fportal.ets.org%252Finstport%252Fsecure%252Fhome">TOEFL
                                    Search Service</a></li>
								</ul>
							</div>
								<div class="subHeader_page">
							<h2>The GRE Tests</h2>
							<ul>
								<li><a href="https://mygre.ets.org/greweb/login/login.jsp">My GRE Account</a></li>
							</ul>
						</div>
						<div class="subHeader_page">
							<h2>GRE Search Service (GRESS)</h2>
							<ul>
								<li><a href="https://portal.ets.org/instport/public/signin/?bmctx=B880D2D189D031F58DE255EC162DBCCE86E4E903EE30A7EEEF874FA7D2B67D87EC502E808176B9790C1F2F16FE13AE7A&amp;contextType=external&amp;username=string&amp;lockpage=https%3A%2F%2Fportal.ets.org%2Finstport%2Fpublic%2Faccountlock&amp;action=%2Faccess%2Foblix%2Fapps%2Fwebgate%2Fbin%2Fwebgate.so&amp;contextValue=%2Foam&amp;expiredpwdpage=https%3A%2F%2Feias.ets.org%2FxlWebApp%2Fexpiredpwd.jsp%3Fappid%3DIP&amp;password=sercure_string&amp;challenge_url=https%3A%2F%2Fportal.ets.org%2Finstport%2Fpublic%2Fsignin%2F&amp;ssoCookie=secure&amp;creds=username+password&amp;request_id=5350114144060330540&amp;authn_try_count=0&amp;locale=en_US&amp;resource_url=https%253A%252F%252Fportal.ets.org%252Finstport%252Fsecure%252Fhome">GRE
                                Search Service</a></li>
							</ul>
						</div>
						<div class="subHeader_page">
							<h2>Existing ETS Raters and Scoring Professionals</h2>
							<ul>
								<li><a href="https://rm.ets.org/RMWeb">RM Availability and Scheduling</a></li>
								<li><a href="https://idcs-b9d99f99ccc84342b77c130f617b6067.identity.oraclecloud.com/fed/v1/idp/initiatesso?providerid=velocity" aria-describedby="msgOpensInNewWindow" target="_blank">Profile and Payroll</a></li>
								<li><a href="https://one.ets.org/CRSAccessWeb/?WT.ac=clkb">Online Network for Evaluators
                                (ONE)</a></li>
							</ul>
						</div>
						<div class="subHeader_page">
							<h2>ETS Performance Assessments
                        (<span class="text-italic">PPAT</span><sup class="reg">®</sup> Assessment, PASL)</h2>
							<ul>
								<li><a href="https://ereg.ets.org/ereg/public/jump?_p=PRI">ETS Performance Assessment Submission
                                System</a></li>
							</ul>
						</div>
						<div class="subHeader_page">
							<h2>ETS Institution Portal</h2>
							<ul>
								<li><a href="/myportal">ETS Institution Portal</a></li>
							</ul>
						</div>
					</div>
			</main>
			<div class="error-footer-copyrights ">
				<div class="errorfooter-copyrights-desc"> Copyright©2021 by ETS. All rights reserved. All trademarks are the property of their respective owners. </div>
			</div>
			</div>
</body>

</html> -->