<div class="action-warn-message"  tabindex="0">
    <button class="close-action-message">
        <img  src="/src/main/webpack/resources/images/close-black.svg" alt="closingactionmesaage">
    </button>
    <div class="warn-text-message">
        <b>Warn Message Heading</b><p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p><a href="">Text Link</a>
    </div>
</div> 
<div class="action-alert-message"  tabindex="0">
    <button class="close-action-message">
        <img  src="/src/main/webpack/resources/images/close-black.svg" alt="closingactionmesaage">
    </button>
    <div class="alert-text-message">
        <b>Alert Message Heading</b><p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p><a href="">Text Link</a>
    </div>
</div>
<div class="action-inform-message"  tabindex="0">
    <button class="close-action-message">
        <img  src="/src/main/webpack/resources/images/close-black.svg" alt="closingactionmesaage">
    </button>
    <div class="inform-text-message">
        <b>Inform Message Heading</b><p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p><a href="">Text Link</a>
    </div>
</div>
<div class="action-affrim-message"  tabindex="0">
    <button class="close-action-message">
        <img  src="/src/main/webpack/resources/images/close-black.svg" alt="closingactionmesaage">
    </button>
    <div class="affrim-text-message">
        <b>Inform Message Heading</b><p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p><a href="">Text Link</a>
    </div>
</div>  
