<section class="article-contributor row cmp-container--body">
    <div class="col-12 col-lg-10 mx-auto">
        <div class="article-contributor-card-container">
             <div class="article-contributor-card card-width-50">
                <figure class="article-contributor-card-image" >
                    <img src="/src/main/webpack/resources/images/steve.png">
                </figure>
                <div>
                   <div class="article-contributor-card-title">
                        Mary Brown
                    </div>
                   <div class="article-contributor-card-desc"> Co-Founder & Executive Director of Life Pieces To
                        Masterpieces</div>
                </div>
            </div>
            <div class="article-contributor-card card-width-50">
                <figure class="article-contributor-card-image">
                    <img src="/src/main/webpack/resources/images/sara.png">
                </figure>
                <div>
                   <div class="article-contributor-card-title">
                        Mary Brown
                    </div>
                   <div class="article-contributor-card-desc"> Co-Founder & Executive Director of Life Pieces To
                        Masterpieces</div>
                </div>
            </div>
            <div class="article-contributor-card  card-width-100">
                <figure class="article-contributor-card-image">
                    <img  src="/src/main/webpack/resources/images/mary-brown.png">
                </figure>
                <div>
                   <div class="article-contributor-card-title">
                        Mary Brown
                    </div>
                   <div class="article-contributor-card-desc "> Co-Founder & Executive Director of Life Pieces To
                        Masterpieces</div>
                </div>
            </div>
        </div>

    </div>

</section>