<article>
    <div class="article-banner-container position-relative">
        <img class="d-none d-md-block" src="/src/main/webpack/resources/images/article_banner.png" alt="article-banner">
        <div class="cmp-container--body mobile-no-margin row align-items-center">

            <img class="col-12 d-block d-xs-block d-lg-none" src="/src/main/webpack/resources/images/article_banner.png" alt="article-banner">

            <div class="col-12 mobile-margin content-align-right position-relative p-md-0">
                <div class="rellax container articleParallexImage" data-rellax-speed="1" data-rellax-percentage="-2">
                    <img src="/src/main/webpack/resources/images/articleBannerPiles.png" alt="article banner">
                </div>
                <div class="article-banner-card">
                    <div class="article-title-band">
                        <!-- <div class="article-banner-title">
                            FEATURED RESEARCH |
                        </div>
                        <div class="article-banner-subtitle">EQUITY</div> -->
                        <h2 class="label-title heading3">FEATURED RESEARCH | <span class="fw-normal">EQUITY</span></h2>
                    </div>
                    <div class="article-banner-description" style="--article-description-color: #151515">
                        <div class="heading4">School District Diversity Associated with Reductions in the Achievement Gap</div>
                    </div>
                    <div class="article-banner-button-band">
                        <a class="cta-btn-primary" href="#" role="button">Read more</a>
                        <a class="cta-text-link" href="#" role="button">All Research</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>