<br>
<br>
<div class="cmp-container">
    <section class="kalturaAudioPlayer">
        <div id="kaltura_player_1696523955"  style="width: 308px; height: 26px; overflow: hidden;"></div>
    </section>
    <script>
        kWidget.embed({
            "targetId": "kaltura_player_1696523955",
            "wid": "_1407311",
            "uiconf_id": 37033591,
            "flashvars": {},
            "cache_st": 1696523955,
            "entry_id": "1_ix8gmmxv"
        });
    </script>
</div>
<br>
<br>