<section class="research-results-template author-bio-template">
    <div id="researchresultswrap" class="research-results--wrap">
        <div class="research-results--body">
            <div id="authorBioTemplateHead" class="research-results--head d-none">
                <h3 id="author-title">Publications by this author</h3>
            </div>
            <div class="research-result--data-container" data-author-name="steinberg, Linda S." data-research-result-path="https://sitesearch.ets.org/sitesearch/researcher/search">
                <div id="authorBioResults" class="results-list--body"></div>
                <div class="litePagination abtPagination cmp-button--tertiary d-none">
                    <a href="#" class="previous button cmp-button hover--primary cmp-button-arrow" data-action="previous"><span class="cmp-button__icon--leftArrowBlue" aria-hidden="true"></span>Prev</a>
                    <input type="text" /> <div class="page-result-text"><span class="current-page d-none">0</span> of <span class="max-page">0</span></div>
                    <a href="#" class="next button cmp-button hover--primary" data-action="next">Next<span class="cmp-button__icon--rightArrowBlue" aria-hidden="true"></span></a>
                </div>
                <div class="author-bio-template-load-more d-none">
                    <a id="authorBioTemplateLoadMore" class="cta-btn-primary disabled" tabindex="-1" href="javascript:;"><span class="d-block">Load more</span></a>
                </div>
            </div>
        </div>
    </div>
</section>