<section>
    <div class="cmp-container--body position-relative">
        <div class="bannerLeftParallex">
            <img src="/src/main/webpack/resources/images/errorLeftPill.png" />
        </div>
    </div>
    <div class="banner-layout">
        <div class="cmp-container--body position-relative">
            <div class="bannerRightParallex banner-pill-half">
                <img src="/src/main/webpack/resources/images/bannerRightHalfpill.svg" />
            </div>
            <div class="bannerRightParallex banner-pill-large">
                <img src="/src/main/webpack/resources/images/bannerRightFullpill.svg" />
            </div>
            <div class="banner-layout-container">
                <h1 class="heading2">We believe in the life-changing power of learning.</h1>
                <p class="body-text">We’re driven by a vision of what’s possible when all people can improve their lives through education and learning. Explore more about our commitment to advance equity and opportunity through everything we do</p>
            </div>
        </div>
    </div>
    <div class="banner-image col-12" style="--banner-backgorund-image: url(/src/main/webpack/resources/images/banner.png)">
    </div>
</section>