<div class="cmp-container--body">
    <div class="breadcrumb-container d-none d-md-flex">
        <a class="breadcrumb-parent-text" href="">ETS<i class="breadcrumb-right-arrow"></i></a>
        <span class="breadcrumb-lastchild-text">GRE</span>
    </div>
    <div class="breadcrumb-container-mobile d-block d-md-none">
        <a class="breadcrumb-parent-text" href=""><i class="breadcrumb-left-arrow"></i>Back to [ previous page ]</a>
    </div>
    <div class="breadcrumb-separator d-none d-md-block">
    </div>
</div>