<!-- Don't take any inline style. This is for only FED reference. This CSS will not be in style. -->
<section class="style-guide-1" style="background-color: #00565D;padding: 2em 0;">
    <div class="cmp-container--body">
        <div class="ctabutton button cmp-button--quaternary">
            <h3>Quaternary</h3>
            <div class="button-row">
                <label>Default</label>
                <a class="cmp-button"  href="/gre/test-takers.html">
                    <span class="cmp-button__text">Select</span>
                </a>
                <span>Button Tag</span>
                <button class="cmp-button">
                    <span class="cmp-button__text">Select</span>
                </button>
            </div>
            <div class="button-row">
                <label>Disabled</label>
                <a  class="cmp-button disabled" href="/gre/test-takers.html">
                    <span class="cmp-button__text">Select</span>
                </a>
                <span>Button Tag</span>
                <button class="cmp-button disabled">
                    <span class="cmp-button__text">Select</span>
                </button>
            </div>
        </div>
    </div>
</section>
<style>
    .style-guide-1 {
        color: #FFF;
    }
    .style-guide-1 h3 {
        margin-bottom: 1em;
    }
    .button-row {
        display: flex;
        align-items: center;
        column-gap: 2em;
        margin-bottom: 1.5em;
    }
    .button-row label {
        min-width: 4.5em;
    }
</style>

