<div class="experiencefragment">
    <div id="experiencefragment-8c0759b82d" class="cmp-experiencefragment cmp-experiencefragment--client-spotlight-series">
        <div id="container-a5494c6506" class="cmp-container">
            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
        
                <div class="carousel-v2 carousel panelcontainer cmp-button--primary aem-GridColumn aem-GridColumn--default--12">
    
                     <div id="carousel-v2-f06dc3bc40" class="cmp-carousel" role="group" aria-live="polite" aria-roledescription="carousel" data-cmp-delay="5000" data-cmp-data-layer="{&quot;carousel-v2-f06dc3bc40&quot;:{&quot;shownItems&quot;:[&quot;carousel-v2-f06dc3bc40-item-1ac6e93a54&quot;],&quot;@type&quot;:&quot;ets/components/carousel-v2&quot;,&quot;repo:modifyDate&quot;:&quot;2022-08-10T05:27:13Z&quot;}}" data-placeholder-text="false">
        
                        <div class="cmp-carousel__actions cmp-container--body banner-actions">
                            <button class="cmp-carousel__action cmp-carousel__action--previous" type="button" aria-label="return to previous topic" data-cmp-hook-carousel="previous" disabled="">
                                <span class="cmp-carousel__action-icon"></span>
                                <span class="cmp-carousel__action-text">Previous</span>
                            </button>
                            <button class="cmp-carousel__action cmp-carousel__action--next" type="button" aria-label="progress to next topic" data-cmp-hook-carousel="next">
                                <span class="cmp-carousel__action-icon"></span>
                                <span class="cmp-carousel__action-text">Next</span>
                            </button> 
                        </div>
                        <div id="newsCarousel" class="cmp-carousel__content carousel-container carousel carousel-fade slide" aria-atomic="false" aria-live="polite">
                
                            <div id="carousel-v2-f06dc3bc40-item-fccc97949b-tabpanel" class="cmp-carousel__item" role="tabpanel" aria-labelledby="carousel-v2-f06dc3bc40-item-fccc97949b-tab" aria-roledescription="slide" aria-label="Slide 2 of 3" data-cmp-data-layer="{&quot;carousel-v2-f06dc3bc40-item-fccc97949b&quot;:{&quot;@type&quot;:&quot;ets/components/carousel-v2/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-10-13T13:21:44Z&quot;}}" data-cmp-hook-carousel="item"><div class="banner cmp-button--primary">
                               
                                <div class="carousel-bg">
                                    <div class="cmp-container--body mobile-no-margin position-relative">
                                        <div class="pills carousel-pills">
                                            <span class="rellax rellax-1" data-rellax-speed="1"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Rectangle 108.svg" alt=""></span>
                                            <span class="rellax rellax-2" data-rellax-speed="1.3"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Rectangle 58.svg" alt=""></span>
                                            <span class="rellax rellax-3" data-rellax-speed="1.6"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Rectangle 104-white.svg" alt=""></span>
                                            <span class="rellax rellax-4" data-rellax-speed="2.2"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Group 1043.svg" alt=""></span>
                                            <span class="rellax rellax-5" data-rellax-speed="2.5"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Group 1042.svg" alt=""></span>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="content col-12 col-sm-12 col-lg-5 order-2
                                                        order-sm-2 order-lg-1 mobile-margin" data-inviewport="fadeIn">
                                                <h2 class="content-title mt-3 mt-md-5 mt-lg-0 animated bounceInRight"> CLIENT SPOTLIGHT SERIES </h2>
                                
                                                <p class="content-desc">At Fullchamp Technologies, English proficiency is a key factor in improving corporate global competitiveness. See how Fullchamp measures their employees’ English proficiency with the TOEIC program.</p>

                                                <div>
                                                    <div class="banner-button-band m-0 pt-4">
                                                    <a class="cmp-button" href="/toeic/organizations/client-spotlight/client-spotlight-videos.html" aria-label="Watch More Client Spotlight Videos">Watch More Client Spotlight Videos</a>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="content-img carousel-video-container col-12 col-sm-12 col-lg-7 order-1
                                                        order-sm-1 order-lg-2">
                                                <section class="videoText ratio ratio-16x9">
                                                    <div class="videoText__container">
                                                        <iframe id="video-element" src="https://www.youtube.com/embed/nX5L_aKlqp0" alt="FULLCHAMP TECHNOLOGIES" allow="fullscreen;autoplay" allowscriptaccess="always"></iframe>
                                                    </div>
                                                </section>
                                                    
                                                <div class="carousel-view-transcript mobile-margin">
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            </div>
                            
                            <div class="cmp-container--body position-relative d-none">
                                            
                                <div class="carousel-indicators carousel-container__indicators order-3 " role="tablist" aria-label="Choose a slide to display" data-cmp-hook-carousel="indicators">
                                    <button id="carousel-v2-f06dc3bc40-item-1ac6e93a54-tab" type="button" role="tab" data-bs-target="#newsCarousel" data-bs-slide-to="0" class="cmp-carousel__indicator--active" aria-current="true" aria-label="Slide 1" data-cmp-hook-carousel="indicator"></button>
                                    <button id="carousel-v2-f06dc3bc40-item-fccc97949b-tab" type="button" role="tab" data-bs-target="#newsCarousel" data-bs-slide-to="1" aria-label="Slide 2" data-cmp-hook-carousel="indicator"></button>
                                    <button id="carousel-v2-f06dc3bc40-item-9ac1333713-tab" type="button" role="tab" data-bs-target="#newsCarousel" data-bs-slide-to="2" aria-label="Slide 3" data-cmp-hook-carousel="indicator"></button>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>