<div id="newsCarousel" class="carousel-container carousel carousel-fade slide" data-bs-ride="carousel"
    data-bs-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item carousel-container__item active">
            <!-- <div class="banner bgcolor-r3cc-wineRed"> -->
            <div class="carousel-bg">
                <div class="cmp-container--body mobile-no-margin position-relative">
                    <div class="pillsbg pillsbg-right rellax"
                        style="background-image: url(/src/main/webpack/resources/images/graphic-carousel.png)"
                        data-rellax-speed="1" data-rellax-percentage="0.4"></div>
                    <div class="row align-items-center">
                        <div class="content col-12 col-sm-12 col-lg-5 order-2
                                order-sm-2 order-lg-1 mobile-margin" data-inviewport="fadeIn">
                            <h2 class="content-title mt-3 mt-md-5 mt-lg-0 animated bounceInRight"> FEATURED NEWS </h2>

                            <p class="content-desc"> A Finance and Technology Leader’s Perspective on Developing
                                Students’ Passions in Academia </p>
                            <div class="article-banner-button-band m-0 pt-4">
                                <a class="cta-btn-secondary" href="">Read more</a>
                                <a class="cta-text-link-white" href="">ALL NEWS
                                    & Insights</a>
                            </div>
                        </div>
                        <div class="content-img col-12 col-sm-12 col-lg-7 order-1
                            order-sm-1 order-lg-2">
                        <img src="src\main\webpack\resources\images\r3cc1.png">
                    </div>
                    </div>
                <!-- </div> -->

            </div>
            </div>
        </div>
        <div class="carousel-item carousel-container__item ">
            <div class="carousel-bg cmp-container--body carousel-bg2 ">
                <div class="row align-items-center">
                    <div class=" col-12 col-sm-12 col-lg-5 order-2
                            order-sm-2 order-lg-1 mobile-margin" data-inviewport="fadeIn">
                        <div class="carousel-container__item__variation2">
                            <div >
                                <div class="content">

                                    <h3 class="content-title mt-3 mt-md-5 mt-lg-0 animated bounceInRight"> FEATURED NEWS
                                    </h3>
                                    <p class="content-desc"> A Finance and Technology Leader’s Perspective on Developing
                                        Students’ Passions in Academia </p>
                                    <div class="article-banner-button-band m-0 pt-4">
                                        <a class="cta-btn-secondary" href="">Read more</a>
                                        <a class="cta-text-link-white" href="">ALL NEWS & Insights</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-img col-12 col-sm-12 col-lg-7 order-1
                            order-sm-1 order-lg-2">
                        <img src="src\main\webpack\resources\images\r3cc1.png">
                    </div>
                </div>

            </div>
        </div>
        <div class="carousel-item carousel-container__item ">
            <div class="quotes-background"
                style="--background-image: url('/src/main/webpack/resources/images/quotes_banner.svg') ">
                <div class="cmp-container--body">
                    <div class="quotes-banner">
                        <div class="row">
                            <div class="col-12 d-block d-xs-block d-md-none quotes-image-mobile"></div>
                            <div
                                class=" offset-0 offset-xs-0 offset-md-6 col-12 col-xs-12 col-md-6 quotes-text-banner mobile-margin">
                                <div class="content quotes-text-container" data-inviewport="fadeIn">
                                    <div class="quotes-description">
                                        <blockquote>Through learning, people have the opportunity to make a
                                            difference. Research, assessment and measurement have valuable roles in
                                            helping everyone chart their unique paths to new possibilities.
                                        </blockquote>
                                    </div>
                                    <p class="quotes-author-name">Walt MacDonald </p>
                                    <p class="quotes-author-info">President & CEO of ETS</p>
                                    <div class="quotes-banner-button-band">
                                        <a class="cta-btn-primary theme-cta" href="">About ETS</a>
                                        <a class="cta-text-link" href="">All Testimonials</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cmp-container--body">
    <!-- me-auto or ms-auto -->
    <div class=" carousel-indicators carousel-container__indicators order-3">
        <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="0" class="carouselActive active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="1" class="carouselInActive"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="2" class="carouselInActive"
            aria-label="Slide 3"></button>
    </div>
</div>
