<section class="color-info-card row cmp-container--body">
    <div class="col-12 col-md-12 col-lg-10 color-info-card-column">
        <div class="card-group">
            <div class="info-card-hunder card ">
                <div class="color-info-card-wrap ">
                    <img src="/src/main/webpack/resources/images/location-icon.svg">

                    <div class="color-info-card-content card-body">
                        <p class="body-text invert-text body-text-title card-title">
                            Locations
                        </p>
                        <p class="body-text invert-text card-text">
                            We operate offices throughout the United States.
                        </p>

                    </div>
                </div>

                <div class="article-banner-button-band card-footer">
                    <a class="cta-btn-secondary" href="">learn more</a>

                </div>

            </div>

            <div class="info-card-azure card">
                <div class="color-info-card-wrap ">
                    <img src="/src/main/webpack/resources/images/subsidiaries-icon.svg">
                    <div class="color-info-card-content card-body">
                        <p class="body-text invert-text body-text-title card-title">
                            Subsidiaries
                        </p>
                        <p class="body-text invert-text card-text">
                            ETS subsidiaries deliver learning and assessment solutions around the world.
                        </p>

                    </div>
                </div>

                <div class="article-banner-button-band card-footer">
                    <a class="cta-btn-secondary" href="">learn more</a>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="colored-info-card-parallex d-none">
    <div class="rellax container colored-info-card-parallex-rightbottom" data-rellax-speed="1" data-rellax-percentage="-2">
        <img src="/src/main/webpack/resources/images/colored-infocard-pills.png">
    </div>
</div>