<!-- <section>
    <div class="cmp-container--body">
        <div class="contact-info">
            <div class="row col-9 contact-info-banner">
                <div class="col-sm-12 col-md-2 contact-info-banner-image-container">
                    <img src="/src/main/webpack/resources/images/briefCase.png" alt="contact">
                </div>
                <div class="col-sm-12 col-md-5 contact-info-banner-text-container">
                    <h5>Careers</h5>
                    <p>Put your passion for improving education to work. Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit. Mauris commodo vehicula ultrices. Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col-sm-12 col-md-3 contact-info-banner-button-container">
                    <a class="cta-btn-primary" href="">learn more</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="cmp-container--body">
        <div class="contact-info">
            <div class="col-md-10 contact-info-banner">
                <div class="contact-info-banner-image-container">
                    <img src="/src/main/webpack/resources/images/briefCase.png" alt="contact">
                </div>
                <div class="contact-info-banner-text-container">
                    <span class="title21-28">Careers</span>
                    <p class="body-text">Put your passion for improving education to work. Lorem ipsum dolor sit amet, consectetur
                        adipiscing
                        elit. Mauris commodo vehicula ultrices. Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="contact-info-banner-button-container">
                    <a class="d-inline-block cta-btn-primary theme-cta" href="">learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>