<section class="contact-epn cmp-container--body mobile-no-margin ">
    <section class="contact-epn-filters d-flex justify-content-left">
        <select class="epn-country-dropdown" aria-label="Select country name" data-placeholder="Select a Product2">
        </select>
        <select class="epn-product-dropdown" aria-label="Select Product and services" data-placeholder="Select a Product">
        </select>
    </section>
    <div id="contact-epn-selected-list"></div>
    <div id="titleEpn"></div>
    <div id="disclaimer" class=" result-desc"></div>
    <table id="contact-epn-table" data-contact-epn-path="/src/main/webpack/components/js/contactEPN.json">

    </table>
</section>