<section class="cmp-container--body core-values">
    <div class="row">
        <div class="col-12 col-lg-10 mx-auto">
            <h2 class="heading3">Core Values</h2>
            <div class="row">
                <figure class="col-12 col-xl-4 core-values-figure" >
                    <img src="/src/main/webpack/resources/images/core-value-image.png">
                </figure>
                <!-- <div class="col-12 col-md-4 core-values-figure">
                    <div class="bgimg"></div>
                </div> -->
                <div class="col-12 col-xl-8 core-values-card-container">
                    <div class="core-values-card-wrap">
                        <div class="core-values-card">
                            <h3 class="heading5">Social Responsibility</h3>
                            <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                            <p class="core-values-card-content body-text">
                                Our dedication to improving our communities is a big part of how we work together to achieve our mission.
                            </p>
                            <a href="" class="cta-text-link text-start">learn more</a>
                        </div>
                        <div class="core-values-card">
                            <h3 class="heading5">Equity and Opportunity</h3>
                            <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                            <p class="core-values-card-content body-text">
                                ETS supports fair and equal access to educational, learning and career opportunities for all.
                            </p>
                        </div>
                        <div class="core-values-card">
                            <h3 class="heading5">Integrity</h3>
                            <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                            <p class="core-values-card-content body-text">
                                We are steadfast in our commitment to do the right thing, the right way - every time and for everyone.
                            </p>
                        </div>
                        <div class="core-values-card">
                            <h3 class="heading5">Quality</h3>
                            <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                            <p class="core-values-card-content body-text">
                                Our dedication to improving our communities is a big part of how we work together to achieve our mission.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>