<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: left;">
        <a class="cta-btn-bg-blue" href="">Get Started</a>
    </div>
</div>
<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: center;">
        <a class="cta-btn-bg-white" href="">Learn more</a>
    </div>
</div>
<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: right;">
        <a class="cta-btn-with-icon" href=""><i class="cta-compare-icon" style="--cta-icon-url:url(/src/main/webpack/resources/images/down-arrow.png);--cta-hover-icon-url:url(/src/main/webpack/resources/images/us_flag.svg);"></i>Compare Options</a>
    </div>
</div>
<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: left;">
        <a class="cta-btn-bg-tab" href="">Where to Test</a>
    </div>
</div>
<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: center;">
        <a class="cta-btn-bg-tab" href="">Testing Information</a>
    </div>
</div>
<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: center;">
        <a class="cta-btn-primary" disabled="disabled" href="" target="_blank" rel="noopener noreferrer">primary button</a>
    </div>
</div>
<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: center;">
        <a class="cta-btn-secondary" disabled="disabled" href="" target="_blank" rel="noopener noreferrer">white button</a>
    </div>
</div>
<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: center;">
        <a class="cta-btn-teritary" disabled="disabled" href="" target="_blank" rel="noopener noreferrer">white button with border</a>
    </div>
</div>
<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: right;">
        <a class="cta-btn-teritary-with-icon" disabled="disabled" target="_blank" rel="noopener noreferrer"><i class="cta-btn-teritary-icon" style="--cta-icon-url:url(/src/main/webpack/resources/images/down-arrow.png);--cta-hover-icon-url:url(/src/main/webpack/resources/images/us_flag.svg);"></i>Compare Options</a>
    </div>
</div>
<div class="cmp-container--body">
    <div class="cta-container" style="--cta-container-aligment: center;">
        <a class="cta-btn-quartenary" disabled="disabled" href="" target="_blank" rel="noopener noreferrer">login / register</a>
    </div>
</div>