<p class="discription-rte-text-description">The <span class="discription-rte-text-highlighter">Praxis</span><span class="discription-rte-text-copyright">&reg;</span> tests measure the knowledge and skills you need to prepare for the classroom.</p>
<p class="discription-rte-text-sub-description">Which of the following best describes why you’re here today?</p>
<p class="description-rte-card-title">I am a Test Taker</p>
<p class="description-rte-card-description">Recommendation: insert brief blurb to be consistent across components that are styled like this one.</p>
<p class="description-rte-video-title">The Praxis Family of Products</p>
<p class="description-rte-banner-title">One Test. More Opportunities for Success.</p>