<section class="cmp-container--body disclaimer disclaimer--yellow">
    <section class="disclaimer-content">
        <div class="disclaimer-exclamation">!</div>
        <p class="heading5">
            Disclosing Personal Test-taker information
        </p>
        <p><span class="testvalue fw-bold"></span> <span class="datevalue fw-bold"></span> <span class="reportdatevalue fw-bold"></span>ETS Customer Service Representatives can give out personal information only to the test taker, as required by privacy laws. If you are not the test taker, our representatives can only help you with general information, such as score report mailing
            dates, yes or no answers to general questions and payment processing for outstanding balances.</p>
    </section>
</section>