<section>
    <div class="error-message-layout">
        <div class="cmp-container--body position-relative">
            <!-- <div class="rellax errorLeftParallex" data-rellax-speed="-1.5" data-rellax-percentage="0">
                <img src="/src/main/webpack/resources/images/errorLeftPill.png" />
            </div> -->
            <!-- <div class="rellax errorRightParallex error-pill-half" data-rellax-speed="-1.5" data-rellax-percentage="0">
                <img src="/src/main/webpack/resources/images/errorRigtPill.png" />
            </div> -->
            <!-- <div class="rellax errorRightParallex error-pill-large" data-rellax-speed="-1.5" data-rellax-percentage="0">
                <img src="/src/main/webpack/resources/images/errorRightPill.png" />
            </div> -->
            <div class="error-message-layout-container">
                <div class="col-12">
                    <img src="/src/main/webpack/resources/images/cross.png">
                </div>
                <div class="col-12">
                    <h1 class="banner-title">Page Not Found
                    <span class="bold-italic d-block">Sorry, We Failed this Test</span></h1>
                </div>
                <div class="col-md-7">
                    <div class="heading4">The page you’re looking for may have been renamed, removed or it never existed.</div>
                </div>
                <div class="col-12">
                    <a class="cta-btn-primary d-inline-block" href="" target="">ETS home</a>
                </div>
            </div>
        </div>
    </div>
</section>