<footer>
    <div class="cmp-container--body">
        <div class="row footertop">
            <div class="col-md-3 footer-logo">
                <img alt="ETS Logo" aria-label="Ets logo image" src="/src/main/webpack/resources/images/ETS_LOGO.svg">
            </div>
            <div class="col-md-3 footer-content">
                <div class="fw-bold pb-3">ETS</div>
                <nav class="nav">
                    <ul>
                        <li> <a class="" href="">About ETS</a></li>
                        <li> <a class="" href=""> Careers</a></li>
                        <li><a class="" href="">Contact Us</a></li>
                        <li><a class="" href="">Disabilities</a></li>
                        <li><a class="" href="">ETS Store</a></li>
                        <li><a class="" href="">News: Open Notes</a></li>
                        <li><a class="" href="">Research</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 footer-content">
                <div class="fw-bold pb-3">Solutions</div>
                <nav class="nav">
                    <ul>
                        <li><a class="" href="">Educator Licensure</a></li>
                        <li><a class="" href="">English Language Learning</a></li>
                        <li><a class="" href="">ETS Accelerate</a></li>
                        <li><a class="" href="">Higher Education</a></li>
                        <li><a class="" href="">K-12 Student Programs</a></li>
                        <li><a class="" href="">Workplace & Training</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 footer-content">
                <div class="fw-bold pb-3">Products</div>
                <nav class="nav">
                    <ul>
                        <li><a class="" href="">GRE</a></li>
                        <li><a class="" href="">HiSET</a></li>
                        <li><a class="" href="">Praxis</a></li>
                        <li><a class="" href="">TOEFL</a></li>
                        <li><a class="" href="">TOEIC</a></li>
                        <li><a class="" href="">View All</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-copyrights d-flex">
            <div class="footer-copyrights-followus"><span>Follow ETS:</span>
                <a class="footer-socialicon" href=""> <img alt="Twitter_icon" src="/src/main/webpack/resources/images/Twitter_icon.svg"></a>
                <a class="footer-socialicon" href=""> <img alt="Linkedin_icon" src="/src/main/webpack/resources/images/Linkedin_icon.svg"></a>
            </div>
            <div class="footer-copyrights-desc d-flex">
                <div>Copyright©2021 by ETS. All rights reserved. All trademarks are the property of their respective owners.</div>
                <div class="copyPrivacy">
                    <nav class="nav">
                        <ul>
                        <li><a href="https://author-p53802-e346979.adobeaemcloud.com/content/ets/us/en/generic-page.html?wcmmode=disabled#">Legal</a></li>
                        <li><a href="https://author-p53802-e346979.adobeaemcloud.com/content/ets/us/en/generic-page.html?wcmmode=disabled#">Privacy & Security</a></li>
                        <li><a href="https://author-p53802-e346979.adobeaemcloud.com/content/ets/us/en/generic-page.html?wcmmode=disabled#">ETS Trademarks</a></li>
                    </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>