<section class="gre-mba-filter cmp-container--body">
    <div class="gre-mba-filter__title">
        Approved GRE MBA program
    </div>
    <!--<div class="field-group gre-mba-filter__filter">
        <div class="select">
            <form>
                <div class="dropdown">
                    <div class="dropdown-toggle" type="button"  id="gre-dropdown-mba" data-bs-auto-close="true" data-bs-toggle="dropdown" aria-haspopup="true" data-bs-hover="dropdown" aria-expanded="false" select-on-tab = "true">
                        <i class="score-requirement__select__search-icon"><img src="/src/main/webpack/resources/images/searchIcon_blue.png"></i>
                        <input type="text" class="jAuto form-control" tabindex="0" readonly placeholder="Search All Tests" autocomplete="off">
                        <button class="ets-dropdown-button"><img class = "down-arrow" src="/src/main/webpack/resources/images/down-arrow-white.png"> <img class="up-arrow" src="/src/main/webpack/resources/images/up-arrow-white.png"> </button>
                    </div>
                    <div class="dropdown-menu"  aria-labelledby="gre-dropdown-mba"  id="gre-mba" data-gre-mba-path="/src/main/webpack/components/js/greMbaProgram.json">
                        <div class="list-autocomplete">
                            <button type="button" class="dropdown-item" value="01 - Alpha  Barbuda">01 - Alpha  Barbuda</button>
                            <button type="button" class="dropdown-item" value="01 - Alpha  Barbuda">02 - Charlie Alpha</button>
                            <button type="button" class="dropdown-item" value="03 - Bravo Alpha">03 - Bravo Alpha</button>
                            <button type="button" class="dropdown-item" value="04 - Delta">04 - Delta</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>-->
    <select class="gre-mba-dropdown" id="gre-mba" aria-label="Select a country" data-gre-mba-path="/src/main/webpack/components/js/greMbaProgram.json" data-placeholder="All Countries">
        <option></option>
    </select>
    <table class="gre-mba-filter__table">
        <tbody class="gre-mba-filter__table__content">

        </tbody>
    </table>
</section>