<div class="headerSearch">
    <div class="navsearchHeader">
        <div id="nav-box" class="" tabindex="0">

            <i class="global-search__select__search-icon searchHeaderIcon">
                <img src="/src/main/webpack/resources/images/search.svg">
                <img class="onhover" src="/src/main/webpack/resources/images/search-glass-hover.svg" alt="search"/>
            </i>
        </div>
           <dialog role="dialog" aria-modal="true"  id="nav-search" class="hidden headerList">
            <div class="dialog-body">
            <ul >
            <li class="input animated fadeInRight">
                <!-- <span class="animated fadeIn"><span class="searchbtn" style="--url-search:url(/src/main/webpack/resources/images/search.svg)"></span></span> -->

                <span class="animated fadeIn"> 
                    <i class="global-search__select__search-icon searchHeaderIcon" tabindex="0">
                        <img src="/src/main/webpack/resources/images/search.svg">
                        <img class="onhover" src="/src/main/webpack/resources/images/search-glass-hover.svg" alt="search"/>
                    </i></span>
                <input type="text" class="animated fadeInRight" placeholder="What are you looking for?" autofocus>

                <span class=" right animated fadeIn delay-1s headerClose">
                  
                        <i class="global-search__select__search-icon "><img
                            src=" /src/main/webpack/resources/images/Crossicon.svg">
                    </i>
                       
                </span>

            </li>
            <li>
            <ul class="quick-links animated fadeInRight">
                <li class="animated fadeInRight">
                    <p>SUGGESTED SEARCHES:</p>
                </li>
                <li class="animated fadeInRight delay-1"><a href="#">Praxis Test Scores</a></li>
                <li class="animated fadeInRight delay-2"><a href="#">Lorem Ipsum elor sum tudo</a></li>
                <li class="animated fadeInRight delay-3"><a href="#">Lorem Ipsum </a></li>
                <li class="animated fadeInRight delay-4"><a href="#">Lorem Ipsum elor sum tudo so lorem </a></li>
                <li class="animated fadeInRight delay-5"><a href="#">Lorem Ipsum elor sum tudo</a></li>
            </ul>
        </li>
        </ul>
        </div>
    </dialog>
   
  </div>
</div>
