<div class="horizontal-menu-component">
    <div class="cmp-container--body">
        <div class="horizontal-menu" style="--horizontal-menu-background:inherit">
            <a class="cta-btn-bg-tab active" href="">Plan Your Test</a>
            <a class="cta-btn-bg-tab" href="">Where to Test</a>
            <a class="cta-btn-bg-tab" href="">Schedule Your Test</a>
            <a class="cta-btn-bg-tab" href="">Prepare for the Test</a>
            <a class="cta-btn-bg-tab" href="">Test Day</a>
            <a class="cta-btn-bg-tab" href="">Check & Use Scores</a>
        </div>
        <div class="horizontal-menu__content-container" style="--horizontal-menu-container-background-color: inherit">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
<div class="horizontal-menu-component">
    <div class="cmp-container--body">
        <div class="mobile-horizontal-menu-dropdown d-md-none" style="--submenu-background-image: url(/src/main/webpack/resources/images/pennsylvania.png)">
            <div class="dropdown">
                <div class="btn-secondary dropdown-toggle" data-bs-display="static" id="HorizontalDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <input type="text" placeholder="" list="sideMenuList" name="menu" onkeydown="return false">
                    <button type="submit"><i class="dropdown-downarrow"></i></button>
                </div>
                <ul class="dropdown-menu" aria-labelledby="HorizontalDropdownMenu">
                    <li><a class="horizontal-menu-dropdown dropdown-item body-text horizontal-menu-dropdown-item-active" href="javascript:;" id="tab1">Certification in Pennsylvania</a></li>
                    <li><a class="horizontal-menu-dropdown dropdown-item body-text" href="javascript:;" id="tab2">Licensure Requirements</a></li>
                    <li><a class="horizontal-menu-dropdown dropdown-item body-text" href="javascript:;" id="tab3">Score Requirements</a></li>
                    <li><a class="horizontal-menu-dropdown dropdown-item body-text" href="javascript:;" id="tab4">Compare Assessments</a></li>
                </ul>
            </div>
        </div>
        <div class="horizontal-menu d-none d-md-flex" style="--horizontal-menu-background:inherit">
            <a class="cta-btn-white-bg-tab" href="javascript:;">Certification in Pennsylvania</a>
            <a class="cta-btn-white-bg-tab" href="javascript:;">Licensure Requirements</a>
            <a class="cta-btn-white-bg-tab" href="javascript:;">Score Requirements</a>
            <a class="cta-btn-white-bg-tab" href="javascript:;">Compare Assessments</a>
        </div>


        <div class="horizontal-menu__content-container" style="--horizontal-menu-container-background-color: inherit">

            <div class="header-image d-flex" style="--tab-header-background-image: url(/src/main/webpack/resources/images/tabHeaderImage.png)">
                <div class="heading1">Pennsylvania</div>
            </div>

        </div>
    </div>
</div>