<div class="contact-button-parallex d-none d-md-block">
    <div class="rellax container contact-button-parallex-top" data-rellax-speed="1" data-rellax-percentage="-2">
        <img src="/src/main/webpack/resources/images/contact-button-pills-top.svg">
    </div>
    <div class="rellax container contact-button-parallex-bottom" data-rellax-speed="1" data-rellax-percentage="-2">
        <img src="/src/main/webpack/resources/images/contact-button-pills-bottom.svg">
    </div>
</div>
<section class="icon-button cmp-container--body">
        <ul>
            <li class="icon-button-list" data-inviewport="scale-in">
                <a class="icon-button-list-link" href="">
                    <figure>
                        <img alt="Find the right test for you" src="/src/main/webpack/resources/images/test_taker_icon.svg" />
                        <img class="onover" alt=" Find the right test for you" src="/src/main/webpack/resources/images/test_taker_icon_white.svg" />
                    </figure>
                       <span class="icon-button-list-link-text"> Find the right test for you </span>
                </a>
            </li>
            <li class="icon-button-list" data-inviewport="scale-in">
                <a class="icon-button-list-link" href="">
                    <figure>
                        <img alt="Prove your english ability" src="/src/main/webpack/resources/images/english_test_icon.svg" />
                        <img class="onover" alt="Prove your english ability" src="/src/main/webpack/resources/images/english_test_icon_white.svg" />
                    </figure>
                       <span class="icon-button-list-link-text"> Prove your english ability </span>
                </a>
            </li>
            <li class="icon-button-list" data-inviewport="scale-in">
                <a class="icon-button-list-link" href="">
                    <figure>
                        <img alt="Gain your license to teach" src="/src/main/webpack/resources/images/teaching_license.svg" />
                        <img class="onover" alt="Gain your license to teach" src="/src/main/webpack/resources/images/teaching_license_white.svg" />
                    </figure>
                        <span class="icon-button-list-link-text"> Gain your license to teach </span>
                </a>
            </li>
            <li class="icon-button-list" data-inviewport="scale-in">
                <a class="icon-button-list-link" href="">
                       <figure>
                           <img alt="Find qualified applicants" src="/src/main/webpack/resources/images/find_applicant_icon.svg" />
                        <img class="onover" alt="Find qualified applicants" src="/src/main/webpack/resources/images/find_applicant_icon_white.svg" />
                    </figure> 
                    <span class="icon-button-list-link-text"> Find qualified applicants </span>
                </a>
            </li>
            <li class="icon-button-list" data-inviewport="scale-in">
                <a class="icon-button-list-link" href="">
                       <figure>
                        <img alt="Find qualified applicants" src="/src/main/webpack/resources/images/briefCase.png" />
                        <img class="onover" alt="Find qualified applicants" src="/src/main/webpack/resources/images/find_applicant_icon_white.svg" />
                       </figure> <span class="icon-button-list-link-text"> Find qualified applicants </span>
                </a>
            </li>
            <!-- <li class="icon-button-list" data-inviewport="scale-in">
                <a class="icon-button-list-link" href="">
                        <img alt="Collaborate with ets" src="/src/main/webpack/resources/images/Collaborate_ETS_icon.svg" />
                        <img class="onover" alt="Collaborate with ets" src="/src/main/webpack/resources/images/collaborate_ETS_icon_white.svg" />
                    <span class="icon-button-list-link-text"> Collaborate with ets </span>
                </a>
            </li>
            <li class="icon-button-list" data-inviewport="scale-in">
                <a class="icon-button-list-link" href="">
                        <img alt="Gain your license to teach" src="/src/main/webpack/resources/images/teaching_license.svg" />
                        <img class="onover" alt="Gain your license to teach" src="/src/main/webpack/resources/images/teaching_license_white.svg" />
                    <span class="icon-button-list-link-text"> Gain your license to teach </span>
                </a>
            </li>
            <li class="icon-button-list" data-inviewport="scale-in">
                <a class="icon-button-list-link" href="">
                        <img alt="Find qualified applicants" src="/src/main/webpack/resources/images/find_applicant_icon.svg" />
                        <img class="onover" alt="Find qualified applicants" src="/src/main/webpack/resources/images/find_applicant_icon_white.svg" />
                    <span class="icon-button-list-link-text"> Find qualified applicants </span>
                </a>
            </li>
            <li class="icon-button-list" data-inviewport="scale-in">
                <a class="icon-button-list-link" href="">
                        <img alt="Collaborate with ets" src="/src/main/webpack/resources/images/Collaborate_ETS_icon.svg" />
                        <img class="onover" alt="Collaborate with ets" src="/src/main/webpack/resources/images/collaborate_ETS_icon_white.svg" />
                    <span class="icon-button-list-link-text"> Collaborate with ets </span>
                </a>
            </li> -->
        </ul>
</section>