<div class="carousel-bg carousel-bg2">
    <div class="row align-items-center">
        <div class=" col-12 col-sm-12 col-lg-5 order-2
                order-sm-2 order-lg-1 mobile-margin" data-inviewport="fadeIn">
            <div class="carousel-container__item__variation2">
                <div class="cmp-container--body">
                    <div class="content">

                        <h3 class="content-title mt-3 mt-md-5 mt-lg-0 animated bounceInRight"> FEATURED NEWS
                        </h3>
                        <p class="content-desc"> A Finance and Technology Leader’s Perspective on Developing
                            Students’ Passions in Academia </p>
                        <div class="article-banner-button-band m-0 pt-4">
                            <a class="cta-btn-secondary" href="">Read more</a>
                            <a class="cta-text-link-white" href="">ALL NEWS & Insights</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-img col-12 col-sm-12 col-lg-7 order-1
                order-sm-1 order-lg-2">
            <img src="/src/main/webpack/resources/images/core-values.png">
        </div>
    </div>

</div>