<div class="cmp-container--body">
    <div id="container-f879b75df2" class="cmp-container">
        <div class="pills-component">
            <div class="pills-component cmp-container--body">
                <div class="pills about-infocard-leftpills">
                    <span class="rellax rellax-1" data-rellax-speed="1"><img src="src\main\webpack\resources\images\pills\about\infocard-1.svg" alt=""></span>
                    <span class="rellax rellax-2" data-rellax-speed="1.3"><img src="src\main\webpack\resources\images\pills\about\infocard-2.svg" alt=""></span>
                    <span class="rellax rellax-3" data-rellax-speed="1.6"><img src="src\main\webpack\resources\images\pills\about\infocard-5.svg" alt=""></span>
                </div>
                <div class="pills about-infocard-rightpills">
                    <span class="rellax rellax-1" data-rellax-speed="1"><img src="src\main\webpack\resources\images\pills\about\infocard-3.svg" alt=""></span>
                    <span class="rellax rellax-2" data-rellax-speed="1.3"><img src="src\main\webpack\resources\images\pills\about\infocard-4.svg" alt=""></span>
                    <span class="rellax rellax-3" data-rellax-speed="1.6"><img src="src\main\webpack\resources\images\pills\about\infocard-1.svg" alt=""></span>
                    <span class="rellax rellax-4" data-rellax-speed="2.2"><img src="src\main\webpack\resources\images\pills\about\infocard-6.svg" alt=""></span>               
                </div>
            </div>
        </div>
<div class="infocards container responsivegrid cmp-container--margin-top-sm cmp-container--margin-bottom-sm cmp-container--padding-top-sm cmp-container--padding-bottom-sm cmp-container--padding-right-sm">
    <div class="cmp-infocards">
        <div>
            <div id="infocards-23429812a3" class="cmp-container">
                <div class="infocards container responsivegrid cmp-container--card-4">
                    <div class="cmp-infocards">
                        <div>
                            <div id="infocards-78819099f0" class="cmp-container row">
                                <div class="infoCard_Column is-inViewport" data-inviewport="scale-in">
                                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                        <div
                                            class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">
                                            <div id="container-99a5d941ae" class="cmp-container">
                                                <div class="title cmp-title--h2">
                                                    <div data-cmp-data-layer="{&quot;title-8f599d095b&quot;:{&quot;@type&quot;:&quot;ets/components/title/v2/title&quot;,&quot;repo:modifyDate&quot;:&quot;2023-07-31T12:08:34Z&quot;,&quot;dc:title&quot;:&quot;End-to-end Assessment Services&quot;}}"
                                                        id="title-8f599d095b" class="cmp-title">
                                                        <h1 class="cmp-title__text">End-to-end Assessment Services</h1>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <div data-cmp-data-layer="{&quot;text-fc05e2efdb&quot;:{&quot;@type&quot;:&quot;ets/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2023-07-31T12:09:20Z&quot;,&quot;xdm:text&quot;:&quot;<p>Support in managing and improving measurement design</p>\r\n&quot;}}"
                                                        id="text-fc05e2efdb" class="cmp-text">
                                                        <p>Support in managing and improving measurement design</p>
                                                    </div>
                                                </div>
                                                <div class="ctabutton button cmp-button--primary">
                                                    <a id="ctabutton-c958a4dd7b" class="cmp-button"
                                                        data-cmp-clickable=""
                                                        data-cmp-data-layer="{&quot;ctabutton-c958a4dd7b&quot;:{&quot;@type&quot;:&quot;ets/components/ctabutton/v2/ctabutton&quot;,&quot;repo:modifyDate&quot;:&quot;2022-05-18T01:14:02Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/&quot;}}"
                                                        href="/content/">
                                                        <span class="cmp-button__text">Learn more</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="infoCard_Column is-inViewport" data-inviewport="scale-in">
                                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                        <div
                                            class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">
                                            <div id="container-e915b062ab" class="cmp-container">
                                                <div class="title">
                                                    <div data-cmp-data-layer="{&quot;title-930b8e101c&quot;:{&quot;@type&quot;:&quot;ets/components/title/v2/title&quot;,&quot;repo:modifyDate&quot;:&quot;2023-07-31T12:09:03Z&quot;,&quot;dc:title&quot;:&quot;Research&quot;}}"
                                                        id="title-930b8e101c" class="cmp-title">
                                                        <h1 class="cmp-title__text">Research</h1>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <div data-cmp-data-layer="{&quot;text-82d2be468d&quot;:{&quot;@type&quot;:&quot;ets/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2023-07-31T12:09:33Z&quot;,&quot;xdm:text&quot;:&quot;<p>Gain Individualized standard assessment services design for your organization needs</p>\r\n&quot;}}"
                                                        id="text-82d2be468d" class="cmp-text">
                                                        <p>Gain Individualized standard assessment services design for
                                                            your organization needs</p>
                                                    </div>
                                                </div>
                                                <div class="ctabutton button cmp-button--primary">
                                                    <a id="ctabutton-17083d6e80" class="cmp-button"
                                                        data-cmp-clickable=""
                                                        data-cmp-data-layer="{&quot;ctabutton-17083d6e80&quot;:{&quot;@type&quot;:&quot;ets/components/ctabutton/v2/ctabutton&quot;,&quot;repo:modifyDate&quot;:&quot;2022-05-18T01:14:02Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/&quot;}}"
                                                        href="/content/">
                                                        <span class="cmp-button__text">Learn more</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="infoCard_Column is-inViewport" data-inviewport="scale-in">
                                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                        <div
                                            class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">
                                            <div id="container-ec2af68bce" class="cmp-container">
                                                <div class="title">
                                                    <div data-cmp-data-layer="{&quot;title-52594aa519&quot;:{&quot;@type&quot;:&quot;ets/components/title/v2/title&quot;,&quot;repo:modifyDate&quot;:&quot;2022-05-18T00:58:25Z&quot;,&quot;dc:title&quot;:&quot;GRE&quot;}}"
                                                        id="title-52594aa519" class="cmp-title">
                                                        <h1 class="cmp-title__text">GRE</h1>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <div data-cmp-data-layer="{&quot;text-7bbb004506&quot;:{&quot;@type&quot;:&quot;ets/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2023-07-31T12:09:47Z&quot;,&quot;xdm:text&quot;:&quot;<p>Get access to subscriptions of our exclusive assessment platforms and industry leading item design</p>\r\n&quot;}}"
                                                        id="text-7bbb004506" class="cmp-text">
                                                        <p>Get access to subscriptions of our exclusive assessment
                                                            platforms and industry leading item design</p>
                                                    </div>
                                                </div>
                                                <div class="ctabutton button cmp-button--primary">
                                                    <a id="ctabutton-939f34b1d9" class="cmp-button"
                                                        data-cmp-clickable=""
                                                        data-cmp-data-layer="{&quot;ctabutton-939f34b1d9&quot;:{&quot;@type&quot;:&quot;ets/components/ctabutton/v2/ctabutton&quot;,&quot;repo:modifyDate&quot;:&quot;2022-05-18T01:14:02Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/&quot;}}"
                                                        href="/content/">
                                                        <span class="cmp-button__text">Learn more</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="infoCard_Column is-inViewport" data-inviewport="scale-in">
                                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                        <div
                                            class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">
                                            <div id="container-f9568dc7d2" class="cmp-container">
                                                <div class="title">
                                                    <div data-cmp-data-layer="{&quot;title-00ab19629a&quot;:{&quot;@type&quot;:&quot;ets/components/title/v2/title&quot;,&quot;repo:modifyDate&quot;:&quot;2022-05-18T00:58:25Z&quot;,&quot;dc:title&quot;:&quot;GRE&quot;}}"
                                                        id="title-00ab19629a" class="cmp-title">
                                                        <h1 class="cmp-title__text">GRE</h1>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <div data-cmp-data-layer="{&quot;text-a84d79c5c9&quot;:{&quot;@type&quot;:&quot;ets/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2023-07-31T12:10:01Z&quot;,&quot;xdm:text&quot;:&quot;<p>Get access to subscriptions of our exclusive assessment platforms and industry leading item design</p>\r\n&quot;}}"
                                                        id="text-a84d79c5c9" class="cmp-text">
                                                        <p>Get access to subscriptions of our exclusive assessment
                                                            platforms and industry leading item design</p>
                                                    </div>
                                                </div>
                                                <div class="ctabutton button cmp-button--primary">
                                                    <a id="ctabutton-9a83637013" class="cmp-button"
                                                        data-cmp-clickable=""
                                                        data-cmp-data-layer="{&quot;ctabutton-9a83637013&quot;:{&quot;@type&quot;:&quot;ets/components/ctabutton/v2/ctabutton&quot;,&quot;repo:modifyDate&quot;:&quot;2022-05-18T01:14:02Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/&quot;}}"
                                                        href="/content/">
                                                        <span class="cmp-button__text">Learn more</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>