<div class="infocards container responsivegrid cmp-container--card-1 cmp-container--card-single cmp-container--card-opaque">
    <div class="cmp-infocards">
        <div>
            <div class="cmp-container row">
                
                <div class="col-md-4 columnone" data-inviewport="scale-in">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="container responsivegrid aem-GridColumn aem-GridColumn--default--12">
                            <div  class="cmp-container">
                                <div class="title cmp-title--h2">
                                    <div data-cmp-data-layer="" class="cmp-title">
                                        <h2 class="cmp-title__text">Shorter GRE test coming soon!</h2>
                                    </div>
                                </div>
                                <div
                                    class="ctabutton button cmp-button--textlink cmp-button--center">
                                    <a class="cmp-button"
                                        aria-label="" 
                                        data-cmp-clickable=""
                                        data-cmp-data-layer=""
                                        href="/gre/test-takers/general-test/about.html">
                                        <span class="cmp-button__text">Learn More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>