<main class="container responsivegrid cmp-container--body cmp-container--roundededge cmp-container--opaque cmp-container--padding-superlarge cmp-container--margin-bottom-xl">
    <div class="cmp-container">
        <div class="infocards container responsivegrid cmp-container--margin-top-lg cmp-container--margin-left-lg">
            <div class="cmp-infocards">
                <div>





                    <div id="infocards-0e9dbe3c8c" class="cmp-container">

                        <div class="infocards container responsivegrid cmp-container--card-3-seperator">
                            <div class="cmp-infocards">
                                <div>






                                    <div id="infocards-fc504dd9a6" class="cmp-container row">
                                        <div class="col-md-4 columnone is-inViewport" data-inviewport="scale-in">



                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                                                <div class="container responsivegrid cmp-container--margin-bottom-xl aem-GridColumn aem-GridColumn--default--12">





                                                    <div id="container-34dabdefc1" class="cmp-container" style="
        /* display: flex; */
        /* flex-direction: column; */
    ">

                                                        <div class="title">
                                                            <div data-cmp-data-layer="{&quot;title-411106ba82&quot;:{&quot;@type&quot;:&quot;ets/components/title/v2/title&quot;,&quot;repo:modifyDate&quot;:&quot;2022-05-18T00:58:25Z&quot;,&quot;dc:title&quot;:&quot;Fairness Review Publications&quot;}}" id="title-411106ba82"
                                                                class="cmp-title">
                                                                <h1 class="cmp-title__text">Fairness Review Publications
                                                                </h1>
                                                            </div>



                                                        </div>
                                                        <div class="separator">
                                                            <div id="separator-da2a1e1826" class="cmp-separator">
                                                                <hr class="cmp-separator__horizontal-rule">
                                                                <div class="card-heading-separator">
                                                                    <span class="card-heading-separator-stroke-big"></span>
                                                                    <span class="card-heading-separator-stroke-small"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text">
                                                            <div data-cmp-data-layer="{&quot;text-529d465616&quot;:{&quot;@type&quot;:&quot;ets/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2022-08-02T12:34:44Z&quot;,&quot;xdm:text&quot;:&quot;<p>Read the publications that guide our fairness review process.</p>\r\n&quot;}}"
                                                                id="text-529d465616" class="cmp-text">
                                                                <p>Read the publications that guide our fairness review process.
                                                                </p>

                                                            </div>



                                                        </div>
                                                        <div class="ctabutton button cmp-button--primary" style="
    ">
                                                            <a id="ctabutton-b5ae4edf78" class="cmp-button" aria-label="Learn More About Formal Review Guidelines" data-cmp-clickable="" data-cmp-data-layer="{&quot;ctabutton-b5ae4edf78&quot;:{&quot;@type&quot;:&quot;ets/components/ctabutton/v2/ctabutton&quot;,&quot;repo:modifyDate&quot;:&quot;2022-08-02T12:30:56Z&quot;,&quot;dc:title&quot;:&quot;Learn More&quot;,&quot;xdm:linkURL&quot;:&quot;/content/ets-org/language-master/en/home/about/fairness/review-publications.html&quot;}}"
                                                                href="/content/ets-org/language-master/en/home/about/fairness/review-publications.html">



                                                                <span class="cmp-button__text">Learn More</span>
                                                            </a>
                                                        </div>


                                                    </div>







                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-md-4 columntwo is-inViewport" data-inviewport="scale-in">



                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">

                                                <div class="container responsivegrid cmp-container--margin-bottom-xl aem-GridColumn aem-GridColumn--default--12">





                                                    <div id="container-24829b2e86" class="cmp-container ">

                                                        <div class="title">
                                                            <div data-cmp-data-layer="{&quot;title-35e3bc4b75&quot;:{&quot;@type&quot;:&quot;ets/components/title/v2/title&quot;,&quot;repo:modifyDate&quot;:&quot;2022-05-18T00:58:25Z&quot;,&quot;dc:title&quot;:&quot;Fairness Guidelines&quot;}}" id="title-35e3bc4b75"
                                                                class="cmp-title">
                                                                <h1 class="cmp-title__text">Fairness Guidelines</h1>
                                                            </div>



                                                        </div>
                                                        <div class="separator">
                                                            <div id="separator-a3c20cd82f" class="cmp-separator">
                                                                <hr class="cmp-separator__horizontal-rule">
                                                                <div class="card-heading-separator">
                                                                    <span class="card-heading-separator-stroke-big"></span>
                                                                    <span class="card-heading-separator-stroke-small"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text">
                                                            <div data-cmp-data-layer="{&quot;text-2527df825a&quot;:{&quot;@type&quot;:&quot;ets/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2022-08-02T12:36:52Z&quot;,&quot;xdm:text&quot;:&quot;<p>Learn how the fairness review process works and what our goals are.</p>\r\n&quot;}}"
                                                                id="text-2527df825a" class="cmp-text">
                                                                <p>Learn how the fairness review process works and what our goals are.</p>

                                                            </div>



                                                        </div>
                                                        <div class="ctabutton button cmp-button--primary">
                                                            <a id="ctabutton-72c2906c25" class="cmp-button" aria-label="Learn More About Fairness Guidelines " data-cmp-clickable="" data-cmp-data-layer="{&quot;ctabutton-72c2906c25&quot;:{&quot;@type&quot;:&quot;ets/components/ctabutton/v2/ctabutton&quot;,&quot;repo:modifyDate&quot;:&quot;2022-08-02T12:31:35Z&quot;,&quot;dc:title&quot;:&quot;Learn More&quot;,&quot;xdm:linkURL&quot;:&quot;/content/ets-org/language-master/en/home/about/fairness/guidelines.html&quot;}}"
                                                                href="/content/ets-org/language-master/en/home/about/fairness/guidelines.html">



                                                                <span class="cmp-button__text">Learn More</span>
                                                            </a>
                                                        </div>


                                                    </div>







                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-md-4 columnthree is-inViewport" data-inviewport="scale-in">



                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                                                <div class="container responsivegrid cmp-container--margin-bottom-xl aem-GridColumn aem-GridColumn--default--12 ">





                                                    <div id="container-9b01b35b25" class="cmp-container ">

                                                        <div class="title">
                                                            <div data-cmp-data-layer="{&quot;title-9659e7b574&quot;:{&quot;@type&quot;:&quot;ets/components/title/v2/title&quot;,&quot;repo:modifyDate&quot;:&quot;2022-05-18T00:58:25Z&quot;,&quot;dc:title&quot;:&quot;Why and How ETS Questions Scores&quot;}}" id="title-9659e7b574"
                                                                class="cmp-title">
                                                                <h1 class="cmp-title__text">Why and How ETS Questions Scores
                                                                </h1>
                                                            </div>



                                                        </div>
                                                        <div class="separator">
                                                            <div id="separator-69ed1f590a" class="cmp-separator">
                                                                <hr class="cmp-separator__horizontal-rule">
                                                                <div class="card-heading-separator">
                                                                    <span class="card-heading-separator-stroke-big"></span>
                                                                    <span class="card-heading-separator-stroke-small"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text">
                                                            <div data-cmp-data-layer="{&quot;text-b10ad5cf1b&quot;:{&quot;@type&quot;:&quot;ets/components/text/v2/text&quot;,&quot;repo:modifyDate&quot;:&quot;2022-06-24T20:31:24Z&quot;,&quot;xdm:text&quot;:&quot;<p>Occasionally questions arise about a test taker’s scores. Read about the process we use to verify their validity.</p>\r\n&quot;}}"
                                                                id="text-b10ad5cf1b" class="cmp-text">
                                                                <p>Occasionally questions arise about a test taker’s scores. Read about the process we use to verify their validity.
                                                                </p>

                                                            </div>



                                                        </div>
                                                        <div class="ctabutton button cmp-button--primary">
                                                            <a id="ctabutton-54d9cd111a" class="cmp-button" aria-label="Learn More About Why and How ETS Questions Scores" data-cmp-clickable="" data-cmp-data-layer="{&quot;ctabutton-54d9cd111a&quot;:{&quot;@type&quot;:&quot;ets/components/ctabutton/v2/ctabutton&quot;,&quot;repo:modifyDate&quot;:&quot;2022-08-02T12:32:37Z&quot;,&quot;dc:title&quot;:&quot;Learn More&quot;,&quot;xdm:linkURL&quot;:&quot;/content/ets-org/language-master/en/home/about/fairness/questioning-scores.html&quot;}}"
                                                                href="/content/ets-org/language-master/en/home/about/fairness/questioning-scores.html">



                                                                <span class="cmp-button__text">Learn More</span>
                                                            </a>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>