<section>
    <div class="cmp-container--body">
        <div class="card-group info-card" style="--info-card-alignment: left">
            <div class="card info-card-container info-card-white">
                <div class="card-body">
                    <div class="heading5">What We Are</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">Our dedication to improving our communities is a big part of how we work together to achieve our mission.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">learn more</a>

                    </div>
                </div>
            </div>
            <div class="card info-card-container info-card-translucent">
                <div class="card-body">
                    <div class="heading5">What We Are</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">Our dedication to improving our communities is a big part of how we work together to achieve our mission.communities is a big part of how we work together to achieve our mission.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">learn more</a>
                        <a class="cta-text-link" href="">Register</a>
                    </div>
                </div>
            </div>
            <div class="card info-card-container info-card-translucent">
                <div class="card-body">
                    <div class="heading5">What We Are</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">Our dedication to improving our communities is a big part of how we work together to achieve our mission.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">learn more</a>
                        <a class="cta-text-link" href="">Register</a>
                    </div>
                </div>
            </div>
            <div class="card info-card-container info-card-white">
                <div class="card-body">
                    <div class="heading5">What We Are</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">Our dedication to improving our communities is a big part of how we work together to achieve our mission.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">learn more</a>

                    </div>
                </div>
            </div>
            <div class="card info-card-container info-card-white">
                <div class="card-body">
                    <div class="heading5">What We Are</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">Our dedication to improving our communities is a big part of how we work together to achieve our mission.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">learn more</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="cmp-container--body">
        <div class="card-group bordered-info-card" style="--info-card-alignment: left">
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <span class="date">The New York Times</span>
                    <div class="heading5">We Are Leaving ‘Lost Einsteins’ Behind</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">In the international competition to produce a work force equipped to cope with accelerating rates of technological ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <span class="date">Diverse Issues in Higher Education</span>
                    <div class="heading5">Webinar Calls on K-12, Higher Education to Promote Civic Learning and Engagement</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">As misinformation and government-related conspiracy theories continue to divide the nation, the Educational Testing Service ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <span class="date">Inside Higher Ed</span>
                    <div class="heading5">Ignoring Key Data Points Can Make or Break Holistic Admissions</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="bordered-info-card-container-content body-text">Graduate programs striving to admit the most qualified and diverse classes can do so by ensuring their admissions review ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <span class="date">The New York Times</span>
                    <div class="heading5">We Are Leaving ‘Lost Einsteins’ Behind</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">In the international competition to produce a work force equipped to cope with accelerating rates of technological ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <span class="date">The New York Times</span>
                    <div class="heading5">We Are Leaving ‘Lost Einsteins’ Behind</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">In the international competition to produce a work force equipped to cope with accelerating rates of technological ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="cmp-container--body">
        <div class="card-group bordered-info-card">
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <div class="heading5">An Expert’s Experience in Access for Bilingual and Low-Income Learners</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">Exposing learners to the opportunities that lie ahead begins with establishing equitable learning environments and exposing ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <div class="heading5">An Education Leader on Preparing Today’s Learners for an Optimistic Future</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">Preparing today’s generation of learners to redesign the future first requires them to imagine all they can achieve by working ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <div class="heading5">ETS Establishes ETS Japan, Cementing the Organization’s Commitment to the Japanese Education and Learning Market</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="bordered-info-card-container-content body-text">ETS today announced that it has acquired the TOEFL® assets of the Council on International Educational Exchange ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <div class="heading5">An Expert’s Experience in Access for Bilingual and Low-Income Learners</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">Exposing learners to the opportunities that lie ahead begins with establishing equitable learning environments and exposing ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
            <div class="card bordered-info-card-container">
                <div class="card-body">
                    <div class="heading5">An Expert’s Experience in Access for Bilingual and Low-Income Learners</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="info-card-container-content body-text">Exposing learners to the opportunities that lie ahead begins with establishing equitable learning environments and exposing ...</p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">read story</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="info-card-parallex d-none d-md-block">
    <div class="rellax container info-card-parallex-leftbottom" data-rellax-speed="1" data-rellax-percentage="-2">
        <img src="/src/main/webpack/resources/images/infocard-pills.png">
    </div>
</div> -->