<section>
    <div class="key-benefits__layout" style="--key-benefit-container-color:#DEECFC">
        <div class="cmp-container--body">
            <div class="key-benefits__container">
                <div class="key-benefits__title">
                    <span>Why Use Praxis Tests</span>
                </div>
                <div class="key-benefits__card card-group">
                    <div class="key-benefits__card__container card">
                        <img class="key-benefits__img" src="/src/main/webpack/resources/images/hat.svg" alt="hat image">
                        <span class="title21-28">Measures current knowledge</span>
                    </div>
                    <div class="key-benefits__card__separator"></div>
                    <div class="key-benefits__card__container card">
                        <img class="key-benefits__img" src="/src/main/webpack/resources/images/userprofile.svg" alt="hat image">
                        <span class="title21-28">Developed with educators to ensure relevancy</span>
                    </div>
                    <div class="key-benefits__card__separator"></div>
                    <div class="key-benefits__card__container card">
                        <img class="key-benefits__img" src="/src/main/webpack/resources/images/clock.svg" alt="hat image">
                        <span class="title21-28">Affirm candidate readiness</span>
                    </div>
                </div>
                <div class="key-benefits__cta-container">
                    <a class="cta-btn-primary" href="">About Praxis</a>
                    <a class="quotes-banner-link-btn" href="">Compare with Other Tests</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="key-benefits__layout" style="--key-benefit-container-color:#DEECFC">
        <div class="cmp-container--body">
            <div class="key-benefits__container--without-separator" style="--key-benefit-container-color:#DEECFC">
                <div class="key-benefits__title">
                    <span>Benefits of Welcoming GRE Scores</span>
                </div>
                <div class="key-benefits__card card-group">
                    <div class="key-benefits__card__container card">
                        <img class="key-benefits__img" src="/src/main/webpack/resources/images/hat.svg" alt="hat image">
                        <span class="body-text">Diverse Background</span>
                    </div>
                    <div class="key-benefits__card__container card">
                        <img class="key-benefits__img" src="/src/main/webpack/resources/images/userprofile.svg" alt="hat image">
                        <span class="body-text">Access to hundreds of
thousands of applicants</span>
                    </div>
                    <div class="key-benefits__card__container card">
                        <img class="key-benefits__img" src="/src/main/webpack/resources/images/clock.svg" alt="hat image">
                        <span class="body-text">Year-round testing</span>
                    </div>
                    <div class="key-benefits__card__container card">
                        <img class="key-benefits__img" src="/src/main/webpack/resources/images/clock.svg" alt="hat image">
                        <span class="body-text">Distinctive Scores</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>