<section>
    <div class="cmp-container--body">
        <div class="main-product">
            <h2 class="heading1 mb-5">Select the right test for you</h2>
            <div id="main-cards" class="d-flex align-items-center w-100">
                <div class="main-product--cards">
                    <a class="main-product__container panelJourney" aria-label="Higher ed / study abroad GRE" data-inviewport="scale-in" style="--product-card-color:#40153A;" href="javascript:void(0)" data-panel-path="/src/main/webpack/static/components/iconButton.html" target="">
                        <div class="main-product__inner"> 
                             <div class="main-product__container__title">Higher ed / study abroad</div>
                            <div class="heading5">GRE</div>
                            <span class="body-text">Graduate and professional school admissions</span>
                        </div>
                    </a>
                    <a class="main-product__container" aria-label="Higher ed / study abroad toefl" data-inviewport="scale-in" style="--product-card-color:#377D82;" href="" target="">
                        <div class="main-product__inner"> 
                        <div class="main-product__container__title">Higher ed / study abroad</div>
                        <div class="heading5">toefl</div>
                        <span class="body-text">English-language tests for admissions, placement and learning</span>
                        </div>
                    </a>
                    <a class="main-product__container" aria-label="Corporations TOIEC" data-inviewport="scale-in" style="--product-card-color:#336038;" href="" target="">
                        <div class="main-product__inner"> 
                        <div class="main-product__container__title">Corporations</div>
                        <div class="heading5">TOIEC</div>
                        <span class="body-text">English-language proficiency for the workplace</span>
                        </div>
                    </a>
                    <a class="main-product__container" aria-label="Schools / States PRAXIS" data-inviewport="scale-in" style="--product-card-color:#A03137;" href="" target="">
                        <div class="main-product__inner"> 
                        <div class="main-product__container__title">Schools / States</div>
                        <div class="heading5">PRAXIS</div>
                        <span class="body-text">Educator Licensure Assessment</span>
                        </div>
                    </a>
                    <a class="main-product__container" aria-label="Schools / States PRAXIS" data-inviewport="scale-in" style="--product-card-color:#A03137;" href="" target="">
                        <div class="main-product__inner"> 
                        <div class="main-product__container__title">Schools / States</div>
                        <div class="heading5">PRAXIS</div>
                        <span class="body-text">Educator Licensure Assessment</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="body-text mt-5">Not sure which assessment is right for you?</div>
            <div><a class="cta-btn-primary" href="">Get Help Choosing</a></div>
            <div class=""><a href="" class="cta-link">View All Products</a></div>
        </div>
    </div>
</section>