<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container responsivegrid cmp-container--body">
    <div class="filter-dropdown filter-dropdown-research" style="max-width: 350px;">
        <fieldset class="custom-multi-select-style">
            <label >Single Select</label>
            <div>
                <select class="js-example-basic-multiple js-states form-control" id="multiselect2POC" aria-label="author"  data-placeholder="Search All Authors" autocomplete="off">
                    <option></option>
                </select>
            </div>
        </fieldset>
        <br/>
        <br/>
        <fieldset class="custom-multi-select-style">
            <label >Multi Select</label>
            <div>
                <select class="js-example-basic-multiple js-states form-control" id="multiselectPOC" aria-label="author" multiple="multiple" data-placeholder="Search All Authors" autocomplete="off">
                    <option></option>
                </select>
                <div id="multiselectchipsPOC" class="multiple-select-chips d-none">
                    <div class="clear-items"><a class="clear-chips clearChipsPOC" href="#">Clear the selected items</a></div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>