<section>
    <div class="cmp-container--body">
        <div class="card-group new-info-card infocard-three-column card-align-left">
            <div class="card new-info-card-container new-info-card-white new-info-card-shadow">
                <div class="card-body">
                    <div class="heading5">What We Are</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="new-info-card-container-content body-text">Our dedication to improving our communities is a big part of how we work together to achieve our mission.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">learn more</a>
                    </div>
                </div>
            </div>
            <div class="card new-info-card-container new-info-card-white new-info-card-shadow">
                <div class="card-body">
                    <div class="heading5">What We Are</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="new-info-card-container-content body-text">Our dedication to improving our communities is a big part of how we work together to achieve our mission.communities is a big part of how we work together to achieve our mission.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">learn more</a>
                        <a class="cta-text-link" href="">Register</a>
                    </div>
                </div>
            </div>
            <div class="card new-info-card-container new-info-card-white new-info-card-shadow">
                <div class="card-body">
                    <div class="heading5">What We Are</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="new-info-card-container-content body-text">Our dedication to improving our communities is a big part of how we work together to achieve our mission.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">learn more</a>
                        <a class="cta-text-link" href="">Register</a>
                    </div>
                </div>
            </div>
            <div class="card new-info-card-container new-info-card-white">
                <div class="card-body">
                    <div class="heading5">What We Are</div>
                    <div class="card-heading-seperator"><span class="card-heading-seperator-stroke-big"></span><span class="card-heading-seperator-stroke-small"></span></div>
                    <p class="new-info-card-container-content body-text">Our dedication to improving our communities is a big part of how we work together to achieve our mission.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="article-banner-button-band m-0">
                        <a class="cta-btn-primary" href="">learn more</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>