<section class="praxis-fee-filter cmp-container--body">
    <div  class="praxis-fee-filter__title">Select a country:</div>
    <select class="praxis-fee-dropdown" id="praxis-fee" data-praxis-fee-path="/src/main/webpack/components/js/praxisFeeDropdown.json" data-placeholder="Select your test" aria-label="Select Praxis test">
        <option></option>
    </select>
    <table class="praxis-fee-filter__table" role="table">
        <tbody class="praxis-fee-filter__table__content">
            <tr>
                <th scope="col">Test Code</th>
                <th scope="col">Test Title</th>
                <th scope="col">Fee</th>
            </tr>
        </tbody>
    </table>
</section>