<section class="">
    <div class="cmp-container--body predictivescore mx-auto mobile-no-margin">
        <div class="row">
            <div class="col-12">
                <div class="predictivescore-heading">
                    <h2>GRE<sup>®</sup> Comparison Tool for Business Schools</h2>
                    <p>This easy-to-use tool was designed to help newer GRE<sup>®</sup> score users understand and appropriately interpret GRE<sup>®</sup> scores in the context of GMAT<sup>®</sup> scores. The tool calculates predicted GMAT scores based on an applicant's GRE<sup>®</sup> Verbal Reasoning and Quantitative Reasoning scores.*</p>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-12"> 
                <div class="predictivescore-inputs">
                    <div class="predictivescore-input-section">
                        <label>GRE Verbal Reasoning Score</label>
                        <input name="predictinputleft" value="" type="number">
                        <div class="error" data-field="gre-verbal" role="alert">Value must be 130-170</div>
                    </div>
                    <div class="predictivescore-input-section">
                        <label>GRE Quantitative Reasoning Score</label>
                        <input name="predictinputright"  value="" type="number">
                        <div class="error" data-field="gre-verbal" role="alert">Value must be 130-170</div>
                    </div> 
                </div>   
            </div>
            <div class="col-12"> 
                <div class="down-arrow">
                    <img alt="down-arrow" src="/src/main/webpack/resources/images/arrow-down.png" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12"> 
                <div class="scoreresult predictedscore-results" data-initial-path="/src/main/webpack/static/components/disclaimer.html">
                    <section class="cmp-container--body disclaimer disclaimer--blue mobile-no-margin">
                        <section class="disclaimer-content text-center">
                            <div class="disclaimer-exclamation">
                                <img alt="vector" src="/src/main/webpack/resources/images/vector.PNG" />
                            </div>
                            <p class="heading5"> Predicted GMAT Total Score</p>
                            <p class="predictedscore-value">410</p>
                            <div class="predictedscore-section">
                                <p class="predictedscore-top">Predicted GMAT Verbal Score:
                                    <span>18</span>
                                </p>
                                <p class="predictedscore-bottom">Predicted GMAT Quantitative Score:
                                    <span>38</span>
                                </p>
                            </div>
                        </section>
                    </section>
                </div>

            </div>
        </div>
    </div>
</section>
    
