<section>
    <div class="cmp-container--body">
        <div class="press-release-filters">
            <div class="filter d-flex d-md-none"><img src="/src/main/webpack/resources/images/filter.png">filter</div>
            <select class="press-release-dropdown" aria-label="Select a Program">
                <option value="/pressRelease.json">All category</option>
                    <option value="/category.json">no data</option>
                    <option value="/category.json">variation</option>
                    <option value="/pressRelease.json">all category</option>   
                </select>
        </div>
        <div class="card-group press-release-cards" id="press-release-group" data-display-date="false" data-content-type="ets-org:news/press-release" data-press-release-path="/components/js">

        </div>
        <div class="litePagination pressreleasePagination cmp-button--tertiary d-none">
            <a href="#" class="previous button cmp-button hover--primary cmp-button-arrow" data-action="previous"><span class="cmp-button__icon--leftArrowBlue" aria-hidden="true"></span>Prev</a>
            <input type="text" /> <div class="page-result-text"><span class="current-page d-none">0</span> of <span class="max-page">0</span></div>
            <a href="#" class="next button cmp-button hover--primary" data-action="next">Next<span class="cmp-button__icon--rightArrowBlue" aria-hidden="true"></span></a>
        </div>
    </div>
</section>