<section>
    <div class="product product--theme">
        <div class="cmp-container--body mobile-no-margin position-relative">

            <div class="row product--theme--bg position-relative">
                <!-- <div class="rellax productFamilyParallex" data-rellax-speed="1" data-rellax-percentage="0">
                    <img src="/src/main/webpack/resources/images/ProductFamilyPills.png" />
                </div> -->
                <div class="col-lg-6 product--img">
                    <h2 class="label-title product--img__title">The Praxis Family of Products</h2>
                    <img src="/src/main/webpack/resources/images/core-value-image.png" alt="The Praxis Family of Products" width="100%">
                </div>
                <div class="col-lg-6 product--list">
                    <div class="product--list__item">
                        <div class="heading5 product--list__title">Preparation</div>
                        <ul class="list-group list-group-flush mb-2">
                            <li class="list-group-item list-group-item-action active">
                                <a href="#" title="Khan Academy Official Praxis® Core Prep">Khan Academy Official <span class="fst-italic">Praxis</span><sup>®</sup> Core Prep</a>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <a href="#" title="Praxis® Learning Paths™ Program">
                                    <span class="fst-italic">Praxis</span><sup>®</sup> Learning Paths<sup>™</sup> Program</a>
                            </li>
                        </ul>
                        <div class="view-all-links">
                            <a href="#" class="cta-link">View All Resources</a>
                        </div>
                    </div>
                    <div class="product--list__item">
                        <div class="heading5 product--list__title">Assessments</div>
                        <ul class="list-group list-group-flush mb-2">
                            <li class="list-group-item list-group-item-action">
                                <a href="#" title="Praxis® Learning Paths™ Program"> <span class="fst-italic">Praxis</span><sup>®</sup> Core Tests</a>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <a href="#" title="Praxis® Learning Paths™ Program"> <span class="fst-italic">Praxis</span><sup>®</sup> Subject Tests</a>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <a href="#" title="Praxis® Learning Paths™ Program"> <span class="fst-italic">Praxis</span><sup>®</sup> Content Knowledge for Teaching (CKT) Tests</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>