<div class="quotes-background quotes-container-section" style="--background-image: url('/src/main/webpack/resources/images/quotes_banner.png')">
    <div class="cmp-container--body mobile-no-margin">
        <div class="quotes-banner">
            <div class="row">
                <div class="col-12 d-block d-xs-block d-md-none quotes-image-mobile"></div>
                <div class=" offset-0 offset-xs-0 offset-md-6 col-12 col-xs-12 col-md-6 quotes-text-banner mobile-margin">
                    <div class="quotes-text-container" data-inviewport="fadeIn">
                        <div class="quotes-description">
                            <blockquote>Through learning, people have the opportunity to make a difference. Research, assessment and measurement have valuable roles in helping everyone chart their unique paths to new possibilities.</blockquote>
                        </div>
                        <p class="quotes-author-name">Walt MacDonald </p>
                        <p class="quotes-author-info">President & CEO of ETS</p>
                        <div class="quotes-banner-button-band">
                            <a class="cta-btn-primary theme-cta" href="">About ETS</a>
                            <a class="cta-text-link" href="">All Testimonials</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="quotes-background quotes-container-section d-flex" >
    <div style="background: url('/src/main/webpack/resources/images/quotes_banner.png') no-repeat center / cover; flex: 1; " class="d-flex"></div>
    <div class="cmp-container--body mobile-no-margin d-flex" style="flex: 1">
        <div class="quotes-banner">
            <div class="row">
                <div class="col-12 d-block d-xs-block d-md-none quotes-image-mobile"></div>
                <div class="col-12 quotes-text-banner mobile-margin">
                    <div class="quotes-text-container" data-inviewport="fadeIn">
                        <div class="quotes-description">
                            <blockquote>Through learning, people have the opportunity to make a difference. Research, assessment and measurement have valuable roles in helping everyone chart their unique paths to new possibilities.</blockquote>
                        </div>
                        <p class="quotes-author-name">Walt MacDonald </p>
                        <p class="quotes-author-info">President & CEO of ETS</p>
                        <div class="quotes-banner-button-band">
                            <a class="cta-btn-primary theme-cta" href="">About ETS</a>
                            <a class="cta-text-link" href="">All Testimonials</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>