<section>
  <div class="cmp-container--body w-100 position-relative reg-info">
   <div class="cards">
    <div class="card">
        <div class="card-body">
            <span class="card-body--count">1</span>
         <p>Contact your local EPN to find out the right TOEIC test for you</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
            <span class="card-body--count">2</span>
          <p>Take the TOEIC test(s) and verify your language ability</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
            <span class="card-body--count">3</span>
          <p>Receive a TOEIC Score Certificate that is globally recognized</p>
        </div>
      </div>
   </div>
  </div>
</section>
