<section class="research-search-template">
    <h5>Search Research Content</h5>
    <div class="research-search">
        <div class="research-search__select">
            <div class="research-search__select__container">
                <form id="research-search-form">
                    <i class="research-search__select__search-icon"><img src="/src/main/webpack/resources/images/searchIcon_blue.png"></i>
                    <input id="research-search-form-input" type="search" placeholder="Search topic, subject, ..." autocomplete="off">
                    <a id="researchSearchButton" class="cta-btn-primary" data-research-result-url="contactus" href="javascript:;"><span class="d-none d-md-block">Search</span><i class="d-block d-md-none state-search__select__left-arrow"></i> </a>
                </form>
            </div>
        </div>
    </div>
</section>