<section>
    <div class="researcher-template">
        <div class="cmp-container--body mobile-no-margin">
            
            <h1 class="heading1">System for Rating Constructed Responses Based on Concepts and a Model Answer</h1>
                <dl class="report-info">
                    <dt>Author(s):</dt>
                    <dd class="last">
                        <a href="//search.ets.org/researcher/query.html?fl0=AU%3A&amp;ty0=p&amp;op0=&amp;tx0=Leacock, Claudia">Leacock, Claudia</a>;				<a href="//search.ets.org/researcher/query.html?fl0=AU%3A&amp;ty0=p&amp;op0=&amp;tx0=Chodorow, Martin">Chodorow, Martin</a>;				<a href="//search.ets.org/researcher/query.html?fl0=AU%3A&amp;ty0=p&amp;op0=&amp;tx0=Bolge, Eleanor">Bolge, Eleanor</a>;				<a href="//search.ets.org/researcher/query.html?fl0=AU%3A&amp;ty0=p&amp;op0=&amp;tx0=Wolska, Magdalena">Wolska, Magdalena</a>
                    </dd>
                    <dt>Patent Issued:</dt>
                    <dd class="last">February 19, 2013</dd>
                    <dt>Patent Number:</dt>
                    <dd class="last">8,380,491</dd>
                    <dt>Source:</dt>
                    <dd class="last">ETS Patent</dd>
                    <dt>Document Type:</dt>
                    <dd class="last">Patent</dd>
                    <dt>Family ID:</dt>
                    <dd class="last">29214793</dd>
                    <dt>Subject/Key Words:</dt>
                    <dd class="last">
                        <a href="//search.ets.org/researcher/query.html?fl0=KW%3A&amp;ty0=p&amp;op0=&amp;tx0=Patent">Patent</a>
                        <a href="//search.ets.org/researcher/query.html?fl0=KW%3A&amp;ty0=p&amp;op0=&amp;tx0=Active Patent">Active Patent</a>
                        <a href="//search.ets.org/researcher/query.html?fl0=KW%3A&amp;ty0=p&amp;op0=&amp;tx0=Constructed-Response Scoring">Constructed-Response Scoring</a>
                        <a href="//search.ets.org/researcher/query.html?fl0=KW%3A&amp;ty0=p&amp;op0=&amp;tx0=Automated Scoring and Natural Language Processing">Automated Scoring and Natural Language Processing</a>
                        <a href="//search.ets.org/researcher/query.html?fl0=KW%3A&amp;ty0=p&amp;op0=&amp;tx0=Test Scores">Test Scores</a>
                        <a href="//search.ets.org/researcher/query.html?fl0=KW%3A&amp;ty0=p&amp;op0=&amp;tx0=Concepts">Concepts</a>
                    </dd>
                </dl>
                
                <h2 class="heading3">Abstract</h2>
                <p>A concept rater module is utilized to automatically grade or score constructed responses based on a model answer. The concept rater module may be configured to accept a model answer as input. The model answer may be used as a grading key by the concept rater module. The concept rater module may be further configured to accept student responses in a file format. The file format may be ASCII text, a formatted word processing (e.g., WORDPERFECT, MICROSOFT WORD, etc.) and the like. The concept rater module may be further configured to process a student response into a canonical representation of the student response. The canonical representation of the student response is compared against the model answer by the concept rater module. From the comparison, a score is generated which represents that student's ability to cover all the key concepts.</p>
                <h2 class="heading3">Read More</h2>
                <ul>
                    <li>
                        <a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=8,380,491.PN.&amp;OS=PN/8,380,491&amp;RS=PN/8,380,491" class="break-all" aria-describedby="msgOpensInNewWindow" target="_blank">http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=8,380,491.PN.&amp;OS=PN/8,380,491&amp;RS=PN/8,380,491</a>
                    </li>
                </ul>   
            
        </div>
    </div>
</section>