<section class="research-results-template">
    <!-- <p class="output2">
        ?text=machine%20learning&resultsPerPage=10&resultsStart=0&applyFilter=subjects:"Accessibility"&applyFilter=subjects:"Adaptivity"&applyFilter=authors:"Almond,%20Russell%20G."&applyFilter=docTypes:"report"&applyFilter=years:"2007"
    </p>
    <p class="output2 output"></p> -->
    <h1 class="heading1">Search Results</h1>
    <div id="researchresultssearch" class="research-results-search">
        <div class="research-results-search__select"
            search-data-path="/src/main/webpack/components/json/researchResults.json">
            <div class="research-results-search__select__container">
                <form id="research-results-form">
                    <i class="research-results-search__select__search-icon"><img alt=""
                            src="/src/main/webpack/resources/images/searchIcon_blue.png" /></i>
                    <input id="research-results-form-input" aria-label="Search results" type="search"
                        placeholder="Search topic, subject, author, title, etc" autocomplete="off" />
                    <a id="researchResultsButton" class="cta-btn-primary" href="javascript:;">
                        <span class="d-none d-md-block">Search</span>
                        <i class="d-block d-md-none state-search__select__left-arrow"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>

    <div id="researchresultswrap" class="research-results--wrap">
        <div class="research-results--body">
            <p class="research-no-keyword-msg">Please select a keyword</p>
            <div id="resear-chresults-head" class="research-results--head d-none">
                <span aria-live="polite" id="total-result"></span>
            </div>
            <div id="research-no-results" class="research-noresults d-none">
                <span class="d-block" aria-live="polite">0 Result for ‘<span id="no-search-result"></span>’</span>
                <p>
                    There are currently no results available for your search. Please check
                    the spelling or refine your search and try again.
                </p>
            </div>
			<div class="filter-button-container">
            <div class="button rr-filter-button-wrap d-none cmp-button--tertiary cmp-button--leftIcon">
                <button aria-label="Filter by Publication Year, Subjects, Author and formats" type="button" id="researchResultsFilterButton" class="cmp-button" data-cmp-clickable=""
                    data-cmp-data-layer='{"button-5487aab983":{"@type":"core-components-examples/components/button","dc:title":"Button"}}'>
                    <span class="cmp-button__icon cmp-button__icon--filter" aria-hidden="true"><img alt=""
                            src="/src/main/webpack/resources/images/filter.svg" /></span>
                    <span class="cmp-button__text">Filter</span>
                </button>
            </div>
			<div class="button cmp-button--primary cmp-button--rightIcon d-none">
                    <button type="button" id="resultClearFilterbutton" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer='{"button-5487aab983":{"@type":"core-components-examples/components/button","dc:title":"Button"}}'>
                        <span class="cmp-button__icon cmp-button__icon--rightArrow" aria-hidden="true"></span>
                        <span class="cmp-button__text">Clear Filters</span>
                    </button>
             </div>
			</div>

            <div class="research-result--filter-container d-none">
                <div class="research-result--filter-container__filter">
                    <div class="research-result--filter-container__slider">
                        <label id="publicationYear" for="amount">Publication Year</label>
                        <div class="research-result--filter-container__slider--slider-container">
                            <div class="research-result--filter-container__slider--slider-btn-left">
                                0
                            </div>
                            <div class="research-result--filter-container__slider--slider-range">
                                <div class="research-result--filter-container__slider--slider-range-btn-left"></div>
                                <div id="slider-range"
                                    class="research-result--filter-container__slider--slider-range-track"></div>
                                <div class="research-result--filter-container__slider--slider-range-btn-right"></div>
                            </div>
                            <div class="research-result--filter-container__slider--slider-btn-right">
                                0
                            </div>
                        </div>
                    </div>
                    <div class="research-result--filter-container__dropdown">
                        <div class="filter-dropdown filter-dropdown-research">
                            <fieldset class="custom-multi-select-style">
                                <label for="subjects">Subjects</label>
                                <div>
                                    <select class="js-example-basic-multiple js-states form-control" aria-label="Subjects dropdown search by typing, or press enter to expand all the options" id="subjectMultiselect"
                                        multiple="multiple" data-placeholder="subject">
                                        <option></option>
                                    </select>
                                    <div id="subjectchips" class="multiple-select-chips d-none">
                                        <div class="clear-items"><a class="clear-chips subjectChipsClear" href="#">Clear the selected items</a></div>
                                    </div>
                                    <div id="subjectsDropdownAnnouncement" aria-live="polite" class="dropdown-hidden"></div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="research-result--filter-container__filter">
                    <div class="research-result--filter-container__dropdown">
                        <form class="filter-dropdown filter-dropdown-research">
                            <fieldset class="custom-multi-select-style">
                                <label >Author</label>
                                <div>
                                    <select class="js-example-basic-multiple js-states form-control" aria-label="Author dropdown search by typing, or press enter to expand all the options" id="authorMultiselect"
                                        multiple="multiple" data-placeholder="author">
                                        <option></option>
                                    </select>
                                    <div id="authorchips" class="multiple-select-chips d-none">
                                        <div class="clear-items"><a class="clear-chips authorChipsClear" href="#">Clear the selected items</a></div>
                                    </div>
                                    <div id="authoursDropdownAnnouncement" aria-live="polite" class="dropdown-hidden"></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="research-result--filter-container__dropdown">
                        <form class="filter-dropdown filter-dropdown-research">
                            <fieldset class="custom-multi-select-style">
                                <label for="Author">Formats</label>
                                <div>
                                    <select class="js-example-basic-multiple js-states form-control" aria-label="Formats dropdown search by typing, or press enter to expand all the options" id="formatMultiselect"
                                        multiple="multiple" data-placeholder="format">
                                        <option></option>
                                    </select>
                                    <div id="formatchips" class="multiple-select-chips d-none">
                                        <div class="clear-items"><a class="clear-chips formatChipsClear" href="#">Clear the selected items</a></div>
                                    </div>
                                    <div id="formatsDropdownAnnouncement" aria-live="polite" class="dropdown-hidden"></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="research-result--filter-container__cta-container">
                    <div class="button cmp-button--primary cmp-button--rightIcon">
                        <button type="button" id="resultApplyFilterbutton" class="cmp-button" data-cmp-clickable=""
                            data-cmp-data-layer='{"button-5487aab983":{"@type":"core-components-examples/components/button","dc:title":"Button"}}'>
                            <span class="cmp-button__icon cmp-button__icon--rightArrow" aria-hidden="true"></span>
                            <span class="cmp-button__text">Apply Filters</span>
                        </button>
                    </div>
                </div>
            </div>            
            <!-- <div class="research-result--data-container" data-research-result-path="/src/main/webpack/components/json/researchResults.json"> -->
            <div class="research-result--data-container"
                data-research-result-path="https://sitesearch.ets.org/sitesearch/researcher/search">
                <div id="research-results" class="results-list--body"></div>
                <div class="litePagination researchResultsPagination cmp-button--tertiary d-none">
                    <a href="#" class="previous button cmp-button hover--primary cmp-button-arrow" data-action="previous"><span class="cmp-button__icon--leftArrowBlue" aria-hidden="true"></span>Prev</a>
                    <input type="text" /> <div class="page-result-text"><span class="current-page d-none">0</span> of <span class="max-page">0</span></div>
                    <a href="#" class="next button cmp-button hover--primary" data-action="next">Next<span class="cmp-button__icon--rightArrowBlue" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>