<section class="schedule-test">
    <div class="schedule-test__form">
                <div class="field-group schedule-test__form__location">
                    <label>Location</label>
                    <div class="select">
                        <div class="dropdown">
                            <i class="score-requirement__select__search-icon"><img src="/src/main/webpack/resources/images/searchIcon_blue.png"></i>
                            <input type="text" class="jAuto form-control"
                                   placeholder="Search State(s)" autocomplete="off">
                            <button class="ets-dropdown-button"><img class = "down-arrow" src="/src/main/webpack/resources/images/down-arrow-white.png"> <img class="up-arrow" src="/src/main/webpack/resources/images/up-arrow-white.png">  </button>
        
                            <div class="dropdown-menu">
                                <div class="list-autocomplete">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-group schedule-test__form__distance">
                    
                    <label>Distance</label>
                    <div class="select">
                        <div class="dropdown">
                            <i class="score-requirement__select__search-icon"><img src="/src/main/webpack/resources/images/searchIcon_blue.png"></i>
                            <input type="text" class="jAuto form-control"
                                   placeholder="Search State(s)" autocomplete="off">
                            <button class="ets-dropdown-button"><img class = "down-arrow" src="/src/main/webpack/resources/images/down-arrow-white.png"> <img class="up-arrow" src="/src/main/webpack/resources/images/up-arrow-white.png">  </button>
        
                            <div class="dropdown-menu">
                                <div class="list-autocomplete">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-group schedule-test__form__test">
                    
                    <label>Test</label>
                    <div class="select">
                        <div class="dropdown">
                            <i class="score-requirement__select__search-icon"><img src="/src/main/webpack/resources/images/searchIcon_blue.png"></i>
                            <input type="text" class="jAuto form-control"
                                   placeholder="Search State(s)" autocomplete="off">
                            <button class="ets-dropdown-button"><img class = "down-arrow" src="/src/main/webpack/resources/images/down-arrow-white.png"> <img class="up-arrow" src="/src/main/webpack/resources/images/up-arrow-white.png">  </button>
        
                            <div class="dropdown-menu">
                                <div class="list-autocomplete">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="field-group schedule-test__form__test-center">
            <label>Test Center</label>
            <div class="select">
                <div class="dropdown">
                    <i class="score-requirement__select__search-icon"><img src="/src/main/webpack/resources/images/searchIcon_blue.png"></i>
                    <input type="text" class="jAuto form-control"
                           placeholder="Search State(s)" autocomplete="off">
                    <button class="ets-dropdown-button"><img class = "down-arrow" src="/src/main/webpack/resources/images/down-arrow-white.png"> <img class="up-arrow" src="/src/main/webpack/resources/images/up-arrow-white.png">  </button>

                    <div class="dropdown-menu">
                        <div class="list-autocomplete">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>