<div class="score-comparison">
    <table class="score-comparison--table" id="scoreComparisonTable">
        <thead>
            <tr class="before-highlight">
                <th scope="col">TOEFL Score</th>
                <th scope="col">IELTS Band</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0-31</td>
                <td>0-4</td>
            </tr>
            <tr>
                <td>32-34</td>
                <td>4.5</td>
            </tr>
            <tr class="">
                <td>35-45</td>
                <td>5</td>
            </tr>
            <tr class="shade">
                <td>46-59</td>
                <td>5.5</td>
            </tr>
            <tr class="shade">
                <td>60-78</td>
                <td>6</td>
            </tr>
            <tr class="shade">
                <td>79-93</td>
                <td>6.5</td>
            </tr>
            <tr class="shade">
                <td>94-101</td>
                <td>7</td>
            </tr>
            <tr class="shade">
                <td>102-109</td>
                <td>7.5</td>
            </tr>
            <tr>
                <td>110-114</td>
                <td>8</td>
            </tr>
            <tr>
                <td>115-117</td>
                <td>8.5</td>
            </tr>
            <tr>
                <td>118-120</td>
                <td>9</td>
            </tr>
        </tbody>
    </table>
    <div class="shaded-scores" id="comparison-shaded-scores">Shading indicates score comparison ranges witd tde highest degree of confidence</div>
</div>