<section>
    <div class="side-navigation d-none d-md-block">
        <div class="cmp-container--body">
            <ul class="side-navigation-container">
                <li>
                    <a class="nav-arrow-bold body-text" href="" target="_blank" rel="noopener noreferrer">Legal Home</a>
                </li>
                <li>
                    <a class="nav-arrow-bold body-text" href="" target="_blank" rel="noopener noreferrer">Terms of Use</a>
                </li>
                <li>
                    <a class="nav-arrow-bold body-text" href="" target="_blank" rel="noopener noreferrer">Privacy and Security</a>
                </li>
                <li>
                    <a class="nav-arrow-bold body-text" href="" target="_blank" rel="noopener noreferrer">Cookie Policy</a>
                </li>
                <li>
                    <a class="nav-arrow-bold body-text" href="" target="_blank" rel="noopener noreferrer">Permissions</a>
                </li>
                <li>
                    <a class="nav-bold-only body-text" href="" target="_blank" rel="noopener noreferrer">Trademark Use</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mobile-side-navigation d-md-none">
        <div class="cmp-container--body">
            <div class="dropdown">
                <div class="btn-secondary dropdown-toggle" data-bs-display="static" id="SideNavigationMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <input type="text" placeholder="" list="sideMenuList" name="menu" onkeydown="return false">
                    <button type="submit" list="sideMenuList"><i class="dropdown-downarrow"></i></button>
                </div>
                <ul class="dropdown-menu" aria-labelledby="SideNavigationMenu">
                    <li><a class="side-menu dropdown-item side-menu-item-active" href="#">Legal Home</a></li>
                    <li><a class="side-menu dropdown-item" href="#">Terms of Use</a></li>
                    <li><a class="side-menu dropdown-item" href="#">Privacy and Security</a></li>
                    <li><a class="side-menu dropdown-item" href="#">Cookie Policy</a></li>
                    <li><a class="side-menu dropdown-item" href="#">Permissions</a></li>
                    <li><a class="side-menu dropdown-item" href="#">Trademark Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>