<div class="container responsivegrid cmp-container--body aem-GridColumn aem-GridColumn--default--12">
    <div id="container-d4932ba547" class="cmp-container"> 
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="socialteaser teaser aem-GridColumn aem-GridColumn--default--12">
                <div class="cmp-socialteaser">
                    <div>
                        <div id="socialteaser-ed7c57a551" class="cmp-teaser" data-cmp-data-layer="{&quot;socialteaser-ed7c57a551&quot;:{&quot;@type&quot;:&quot;ets/components/sociallinks/v2/sociallinks/socialteaser&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-06T18:23:02Z&quot;,&quot;dc:title&quot;:&quot;CONNECT&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.linkedin.com/company/educational-testing-service-ets&quot;}}">
                            <a class="cmp-teaser__link" data-cmp-clickable="" href="https://www.linkedin.com/company/educational-testing-service-ets" target="_blank" rel="noopener noreferrer">
                                <div class="cmp-teaser__content">       
                                    <p class="cmp-teaser__title">
                                        Instagram
                                    </p>
                                </div>  
                                <div class="cmp-teaser__image">
                                    <div data-cmp-src="/content/ets-org/language-master/en/test/half-width-banner-validation/_jcr_content/root/container/socialteaser_copy.coreimg{.width}.svg/1680805382856/solid-icon-linkedin.svg" data-asset-id="4fcb2b41-4abb-476a-b369-40fb6647f17f" id="socialteaser-ed7c57a551-image" data-cmp-data-layer="{&quot;socialteaser-ed7c57a551-image&quot;:{&quot;@type&quot;:&quot;ets/components/image/v2/image&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-06T18:23:02Z&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;4fcb2b41-4abb-476a-b369-40fb6647f17f&quot;,&quot;repo:modifyDate&quot;:&quot;2022-07-05T12:22:25Z&quot;,&quot;@type&quot;:&quot;image/svg+xml&quot;,&quot;repo:path&quot;:&quot;/content/dam/ets-org/icons/socials/solid-icon-linkedin.svg&quot;}}}" data-cmp-hook-image="imageV3" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                                        <figure>
                                                <img src="src\main\webpack\resources\images\sociallink1.svg" loading="lazy" class="cmp-image__image" itemprop="contentUrl" alt="LinkedIn">
                                            
                                        </figure>
                                    </div>
                                </div>    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="socialteaser teaser aem-GridColumn aem-GridColumn--default--12"><div class="cmp-socialteaser">
                <div>
                    <div id="socialteaser-d7a13a641c" class="cmp-teaser" data-cmp-data-layer="{&quot;socialteaser-d7a13a641c&quot;:{&quot;@type&quot;:&quot;ets/components/sociallinks/v2/sociallinks/socialteaser&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-06T18:24:25Z&quot;,&quot;dc:title&quot;:&quot;FOLLOW&quot;,&quot;xdm:linkURL&quot;:&quot;https://twitter.com/etsinsights?lang=en&quot;}}">
                        <a class="cmp-teaser__link" data-cmp-clickable="" href="https://www.linkedin.com/company/educational-testing-service-ets" target="_blank" rel="noopener noreferrer">
                            <div class="cmp-teaser__content">       
                                <p class="cmp-teaser__title">
                                    Threads
                                </p>
                            </div>  
                            <div class="cmp-teaser__image">
                                <div data-cmp-src="/content/ets-org/language-master/en/test/half-width-banner-validation/_jcr_content/root/container/socialteaser_copy.coreimg{.width}.svg/1680805382856/solid-icon-linkedin.svg" data-asset-id="4fcb2b41-4abb-476a-b369-40fb6647f17f" id="socialteaser-ed7c57a551-image" data-cmp-data-layer="{&quot;socialteaser-ed7c57a551-image&quot;:{&quot;@type&quot;:&quot;ets/components/image/v2/image&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-06T18:23:02Z&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;4fcb2b41-4abb-476a-b369-40fb6647f17f&quot;,&quot;repo:modifyDate&quot;:&quot;2022-07-05T12:22:25Z&quot;,&quot;@type&quot;:&quot;image/svg+xml&quot;,&quot;repo:path&quot;:&quot;/content/dam/ets-org/icons/socials/solid-icon-linkedin.svg&quot;}}}" data-cmp-hook-image="imageV3" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                                    <figure>
                                            <img src="src\main\webpack\resources\images\sociallink1.svg" loading="lazy" class="cmp-image__image" itemprop="contentUrl" alt="LinkedIn">
                                        
                                    </figure>
                                </div>
                            </div>    
                        </a>
                    </div>    
                </div>
            </div>
            </div>
            <div class="socialteaser teaser aem-GridColumn aem-GridColumn--default--12"><div class="cmp-socialteaser">
                <div>
                    <div id="socialteaser-d7a13a641c" class="cmp-teaser" data-cmp-data-layer="{&quot;socialteaser-d7a13a641c&quot;:{&quot;@type&quot;:&quot;ets/components/sociallinks/v2/sociallinks/socialteaser&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-06T18:24:25Z&quot;,&quot;dc:title&quot;:&quot;FOLLOW&quot;,&quot;xdm:linkURL&quot;:&quot;https://twitter.com/etsinsights?lang=en&quot;}}">
                        <a class="cmp-teaser__link" data-cmp-clickable="" href="https://www.linkedin.com/company/educational-testing-service-ets" target="_blank" rel="noopener noreferrer">
                            <div class="cmp-teaser__content">       
                                <p class="cmp-teaser__title">
                                    Facebook
                                </p>
                            </div>  
                            <div class="cmp-teaser__image">
                                <div data-cmp-src="/content/ets-org/language-master/en/test/half-width-banner-validation/_jcr_content/root/container/socialteaser_copy.coreimg{.width}.svg/1680805382856/solid-icon-linkedin.svg" data-asset-id="4fcb2b41-4abb-476a-b369-40fb6647f17f" id="socialteaser-ed7c57a551-image" data-cmp-data-layer="{&quot;socialteaser-ed7c57a551-image&quot;:{&quot;@type&quot;:&quot;ets/components/image/v2/image&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-06T18:23:02Z&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;4fcb2b41-4abb-476a-b369-40fb6647f17f&quot;,&quot;repo:modifyDate&quot;:&quot;2022-07-05T12:22:25Z&quot;,&quot;@type&quot;:&quot;image/svg+xml&quot;,&quot;repo:path&quot;:&quot;/content/dam/ets-org/icons/socials/solid-icon-linkedin.svg&quot;}}}" data-cmp-hook-image="imageV3" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                                    <figure>
                                            <img src="src\main\webpack\resources\images\sociallink1.svg" loading="lazy" class="cmp-image__image" itemprop="contentUrl" alt="LinkedIn">
                                        
                                    </figure>
                                </div>
                            </div>    
                        </a>
                    </div>    
                </div>
            </div>
            </div>
            <div class="socialteaser teaser aem-GridColumn aem-GridColumn--default--12"><div class="cmp-socialteaser">
                <div>
                    <div id="socialteaser-d7a13a641c" class="cmp-teaser" data-cmp-data-layer="{&quot;socialteaser-d7a13a641c&quot;:{&quot;@type&quot;:&quot;ets/components/sociallinks/v2/sociallinks/socialteaser&quot;,&quot;repo:modifyDate&quot;:&quot;2023-04-06T18:24:25Z&quot;,&quot;dc:title&quot;:&quot;FOLLOW&quot;,&quot;xdm:linkURL&quot;:&quot;https://twitter.com/etsinsights?lang=en&quot;}}">
                        <a class="cmp-teaser__link" tabindex="-1" data-cmp-clickable="" href="/content/ets-org/language-master/en/angeltest.html">
                            <div class="cmp-teaser__content">
                                <div class="cmp-teaser__title">
                                    <p>LinkedIn</p>
                                </div>
                            </div>
                            <div class="cmp-teaser__image">
                                <div data-asset-id="f22fede6-0ee4-4f31-b48f-df0adbeb0137" id="image-e496e7dee4" data-cmp-data-layer="{&quot;image-e496e7dee4&quot;:{&quot;@type&quot;:&quot;ets/components/image/v2/image&quot;,&quot;repo:modifyDate&quot;:&quot;2022-06-09T20:15:41Z&quot;,&quot;xdm:linkURL&quot;:&quot;/content/ets-org/language-master/en/angeltest.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;f22fede6-0ee4-4f31-b48f-df0adbeb0137&quot;,&quot;repo:modifyDate&quot;:&quot;2022-06-09T18:03:15Z&quot;,&quot;@type&quot;:&quot;image/svg+xml&quot;,&quot;repo:path&quot;:&quot;/content/dam/ets-org/brands/toeic/toeic-and-toeic-bridge/svgs/topic-icon-test-preparation.svg&quot;}}}"
                                    class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                                        <img src="src\main\webpack\resources\images\sociallink1.svg" loading="lazy" class="cmp-image__image" itemprop="contentUrl" alt="Alt Text">
                                </div>
                            </div>
                            
                        </a>
                    </div>    
                </div>
            </div>
            </div>  
        </div>    
    </div>
 </div>