<div class="socialLinksBackground">
    <div class="cmp-container--body position-relative">
        <div class="socialLinksContainer">
            <h2 class="socialLinksHeader text-center">Get the latest from ETS</h2>
            <div class="socialLinksIconsContainer text-center d-flex justify-content-center">
                <a class="socialLinksIcons" href="" alt="" target="">
                    <figure class="d-inline-block">
                        <img alt="Linkedin_icon" src="/src/main/webpack/resources/images/Linkedin-white.svg" />
                        <figcaption>Connect</figcaption>
                    </figure>
                </a>
                <a class="socialLinksIcons" href="" alt="" target="">
                    <figure class="d-inline-block">
                        <img alt="Twitter_icon" src="/src/main/webpack/resources/images/Twitter-white.svg" />
                        <figcaption>follow</figcaption>
                    </figure>
                </a>
                <a class="socialLinksIcons subscribe_link" href="#" alt="" target="">
                    <figure class="d-inline-block">
                        <img alt="Email_icon" src="/src/main/webpack/resources/images/Email-white.svg" />
                        <figcaption>subscribe</figcaption>
                    </figure>
                </a>
            </div>
            <div id="subscribeSearch">
                <div class="subscribe-search__select__container">
                    <p>Get news and announcements in your inbox</p>

                    <form id="form_subscribe">
                        <input aria-label="Email" name="User_Email" type="email" placeholder="Enter Your Email"
                            class="subscribe_input" autocomplete="off" id="subscribe-email" required />
                        <!-- <span class="error_icon"></span> -->
                        <i class="error_icon"></i>
                        <a class="cta-btn-primary" href="javascript:;" id="submit-button"><span
                                class="d-md-block">Submit</span></a>
                                <span class="error-message d-none">
                                   <p> E-mail address is not valid.</p>
                                </span>     
                    </form>
                    
               
                    <span for="subscribe-email" class="subscribe-message error">
                        <p class="message-content d-none">Thank you for subscribing! Check your inbox for confirmation.</p>
                        <!-- <span class="message-content"></span> -->
                    </span>
                </div>
            
                
            </div>

                    <div class="subscribe-message error">
                        <span class="message-content d-none"><i>Thank you for subscribing! Check your inbox for
                                confirmation.</i></span>
                        <!-- <span class="message-content"></span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>