<div class="system-messages">
    <button class="message-scroll-btn">
        <img class="scroll-up-arrow" src="" alt="scrollingup">
        <img class="scroll-dootedline-arrow" src="" alt="scroll">
        <img class="scroll-down-arrow" src="" alt="scrollingdown">
    </button>
    <div class="messages">
        <div data-messageType="warn-message">
            <p>A typhoon will hault operations on Japan's Pacific coast. Please seek shelter. Visit [<a href="">text link</a>]for more details.</p>
        </div>
        <div data-messageType="alert-message">
            <p>The registration system will be down from 2 PM ET until 4 PM ET. Please visit [<a href="">text link</a>]for more details.</p>
        </div>
        <div data-messageType="inform-message">
            <p>A new experience for ETS TOEFL iBT is coming soon. Visit [<a href="">text link</a>]for more details.</p>
        </div>
    </div>
    <button class="close-system-message">
        <img src="" alt="closemessage">
    </button>
</div>