<div class="tab-component">
    <div class="cmp-container--body">
        <div class="tab-container" style="--tab-background:inherit">
            <a class="cta-btn-bg-tab active" href="">Plan Your Test</a>
            <a class="cta-btn-bg-tab" href="">Where to Test</a>
            <a class="cta-btn-bg-tab" href="">Schedule Your Test</a>
            <a class="cta-btn-bg-tab" href="https://www.google.com">Prepare for the Test</a>
            <a class="cta-btn-bg-tab" href="">Test Day</a>
            <a class="cta-btn-bg-tab" href="">Check & Use Scores</a>
        </div>
    </div>
</div>
<div class="tab-component">
    <!-- <div class="subtab-container d-flex d-md-none" style="--subtab-background-image: url(/src/main/webpack/resources/images/pennsylvania.png)">
        <div class="ets-dropdown-container">
            <select class="form-select ets-dropdown" aria-label="subtab">
                <option selected><a class="" href="javascript:;" id="tab1">Certification in Pennsylvania</a></option>
                <option><a class="" href="javascript:;" id="tab2">Licensure Requirements</a></option>
                <option><a class="" href="javascript:;" id="tab3">Score Requirements</a></option>
                <option><a class="" href="javascript:;" id="tab4">Compare Assessments</a></option>
              </select>
            <button class="ets-dropdown-button"><img src="/src/main/webpack/resources/images/down-arrow-white.png">  </button>

        </div>
    </div> -->

    <div class="cmp-container--body">
        <div class="mobile-tab-dropdown d-md-none" style="--subtab-background-image: url(/src/main/webpack/resources/images/pennsylvania.png)">
            <div class="dropdown">
                <div class="btn-secondary dropdown-toggle" data-bs-display="static" id="TabDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <input type="text" placeholder="" list="sideMenuList" name="menu" onkeydown="return false">
                    <button type="submit"><i class="dropdown-downarrow"></i></button>
                </div>
                <ul class="dropdown-menu" aria-labelledby="TabDropdownMenu">
                    <li><a class="tab-dropdown dropdown-item body-text tab-dropdown-item-active" href="javascript:;" id="tab1">Certification in Pennsylvania</a></li>
                    <li><a class="tab-dropdown dropdown-item body-text" href="javascript:;" id="tab2">Licensure Requirements</a></li>
                    <li><a class="tab-dropdown dropdown-item body-text" href="javascript:;" id="tab3">Score Requirements</a></li>
                    <li><a class="tab-dropdown dropdown-item body-text" href="javascript:;" id="tab4">Compare Assessments</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-container d-none d-md-flex" style="--tab-background:inherit">
            <a class="cta-btn-white-bg-tab" href="javascript:;" id="tab5">Certification in Pennsylvania</a>
            <a class="cta-btn-white-bg-tab" href="javascript:;" id="tab6">Licensure Requirements</a>
            <a class="cta-btn-white-bg-tab" href="javascript:;" id="tab7">Score Requirements</a>
            <a class="cta-btn-white-bg-tab" href="javascript:;" id="tab8">Compare Assessments</a>
        </div>


        <div class="tab-content-container cmp-container--body" style="--tab-Container-background-color: inherit">
            <div id="tab5" class="tab-container-item">
                <div class="header-image d-flex" style="--tab-header-background-image: url(/src/main/webpack/resources/images/tabHeaderImage.png)">
                    <div class="heading1">Pennsylvania</div>
                </div>
                <div class="tab-item-content-container">
                    <div class="item-main-content">
                        <div class="heading3">Overview of Pennsylvania Testing Requirements</div>
                        <div class="heading4">How to Qualify for Certification</div>
                        <div class="heading5">For initial certification in Pennsylvania, all candidates must:</div>
                        <ul>
                            <li>
                                Earn a Baccalaureate degree (except for <a href="" target="_blank">career and
                                        technical instructional</a> areas)
                            </li>
                            <li>
                                Complete an approved educator preparation program
                            </li>
                            <li>
                                Pass the Praxis® <a href="" target="_blank">tests for their certification area</a>

                            </li>
                            <li>
                                Submit the appropriate <a href="" target="_blank">certification form and fees</a>
                            </li>
                        </ul>
                        <p>For certification outside Pennsylvania, visit the <a href="" target="_blank">Pennsylvania Department of Education</a> website.</p>
                        <div class="heading5">Learn about:</div>
                        <ul>
                            <li>
                                <p><a href="" target="_blank">Approved Certification Programs</a></p>
                            </li>
                            <li>
                                <p><a href="" target="_blank">Education Leadership Programs </a>(Administrative, Supervisory, Superintendent, etc.)</p>
                            </li>
                        </ul>
                        <div class="headin4">See Also</div>
                        <ul>
                            <li>
                                <a href="" target="_blank">About the Praxis Test</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Education Leadership Programs </a>(Administrative, Supervisory,<b> Superintendent</b>, etc.)
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content-separator"></div>
                    <div class="state-logo">
                        <img src="/src/main/webpack/resources/images/stateLogo.png" alt="state logo">
                    </div>

                </div>
            </div>
            <div id="tab6" class="tab-container-item">
                <p>The information in this report was compiled through a survey of state counselor licensure boards conducted in the fall of 2015. State-by-state analysis of laws and administrative rules was also conducted to add to the survey data, especially
                    for the jurisdictions that did not submit information in response to our request.</p>
            </div>
            <div id="tab7" class="tab-container-item">
                <p>Setting score requirements too high means you could be rejecting qualified applicants, while setting them too low means applicants may not have the skills</p>
            </div>
            <div id="tab8" class="tab-container-item">
                <p>Comparing Assessment Tools & Methods. Formative and Summative Assessment. Formative Assessments: Formative assessments (interactive classroom discussions, self- </p>
            </div>
        </div>
    </div>
</div>
<div class="tab-component">
    <div class="cmp-container--body">
        <div class="tab-container" style="--tab-background:inherit">
            <a class="cta-btn-bg-tab" href="javascript:;" id="tab1">Learn About Praxis Tests</a>
            <a class="cta-btn-bg-tab active" href="javascript:;" id="tab2">Scores</a>
            <a class="cta-btn-bg-tab" href="javascript:;" id="tab3">State Guidelines</a>
            <a class="cta-btn-bg-tab" href="javascript:;" id="tab4">Support Teacher Candidates</a>
        </div>
        <div class="tab-content-container cmp-container--body" style="--tab-Container-background-color: inherit">
            <div id="tab1" class="tab-container-item">
                <div class="tab-item-content-container">
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                    <div class="tab-component">
                        <!-- <div class="subtab-container d-flex d-md-none" style="--subtab-background-image: url(/src/main/webpack/resources/images/pennsylvania.png)">
                            <div class="ets-dropdown-container">
                                <select class="form-select ets-dropdown" aria-label="subtab">
                                    <option selected><a class="" href="javascript:;" id="tab1">Certification in Pennsylvania</a></option>
                                    <option><a class="" href="javascript:;" id="tab2">Licensure Requirements</a></option>
                                    <option><a class="" href="javascript:;" id="tab3">Score Requirements</a></option>
                                    <option><a class="" href="javascript:;" id="tab4">Compare Assessments</a></option>
                                  </select>
                                <button class="ets-dropdown-button"><img src="/src/main/webpack/resources/images/down-arrow-white.png">  </button>
                    
                            </div>
                        </div> -->

                        <div class="cmp-container--body">
                            <div class="mobile-tab-dropdown d-md-none" style="--subtab-background-image: url(/src/main/webpack/resources/images/pennsylvania.png)">
                                <div class="dropdown">
                                    <div class="btn-secondary dropdown-toggle" data-bs-display="static" id="TabDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                        <input type="text" placeholder="" list="sideMenuList" name="menu" onkeydown="return false">
                                        <button type="submit"><i class="dropdown-downarrow"></i></button>
                                    </div>
                                    <ul class="dropdown-menu" aria-labelledby="TabDropdownMenu">
                                        <li><a class="tab-dropdown dropdown-item body-text tab-dropdown-item-active" href="javascript:;" id="tab1">Certification in Pennsylvania</a></li>
                                        <li><a class="tab-dropdown dropdown-item body-text" href="javascript:;" id="tab2">Licensure Requirements</a></li>
                                        <li><a class="tab-dropdown dropdown-item body-text" href="javascript:;" id="tab3">Score Requirements</a></li>
                                        <li><a class="tab-dropdown dropdown-item body-text" href="javascript:;" id="tab4">Compare Assessments</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-container d-none d-md-flex p-0" style="--tab-background:inherit">
                                <a class="cta-btn-white-bg-tab" href="javascript:;" id="tab9">Certification in Pennsylvania</a>
                                <a class="cta-btn-white-bg-tab" href="javascript:;" id="tab10">Licensure Requirements</a>
                                <a class="cta-btn-white-bg-tab" href="javascript:;" id="tab11">Score Requirements</a>
                                <a class="cta-btn-white-bg-tab" href="javascript:;" id="tab12">Compare Assessments</a>
                            </div>


                            <div class="tab-content-container cmp-container--body" style="--tab-Container-background-color: inherit">
                                <div class="header-image d-flex" style="--tab-header-background-image: url(/src/main/webpack/resources/images/tabHeaderImage.png)">
                                    <div class="heading1">Pennsylvania</div>
                                </div>
                                <div id="tab9" class="tab-container-item">
                                    <div class="tab-item-content-container">

                                        <div class="item-main-content">
                                            <div class="heading3">Overview of Pennsylvania Testing Requirements</div>
                                            <div class="heading4">How to Qualify for Certification</div>
                                            <div class="heading5">For initial certification in Pennsylvania, all candidates must:</div>
                                            <ul>
                                                <li>
                                                    Earn a Baccalaureate degree (except for <a href="" target="_blank">career and
                                                            technical instructional</a> areas)
                                                </li>
                                                <li>
                                                    Complete an approved educator preparation program
                                                </li>
                                                <li>
                                                    Pass the Praxis® <a href="" target="_blank">tests for their certification area</a>

                                                </li>
                                                <li>
                                                    Submit the appropriate <a href="" target="_blank">certification form and fees</a>
                                                </li>
                                            </ul>
                                            <p>For certification outside Pennsylvania, visit the <a href="" target="_blank">Pennsylvania Department of Education</a> website.</p>
                                            <div class="heading5">Learn about:</div>
                                            <ul>
                                                <li>
                                                    <p><a href="" target="_blank">Approved Certification Programs</a></p>
                                                </li>
                                                <li>
                                                    <p><a href="" target="_blank">Education Leadership Programs </a>(Administrative, Supervisory, Superintendent, etc.)</p>
                                                </li>
                                            </ul>
                                            <div class="heading4">See Also</div>
                                            <ul>
                                                <li>
                                                    <a href="" target="_blank">About the Praxis Test</a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank">Education Leadership Programs </a>(Administrative, Supervisory,<b> Superintendent</b>, etc.)
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-item-content-separator"></div>
                                        <div class="state-logo">
                                            <img src="/src/main/webpack/resources/images/stateLogo.png" alt="state logo">
                                        </div>

                                    </div>
                                </div>
                                <div id="tab10" class="tab-container-item">
                                    <p>The information in this report was compiled through a survey of state counselor licensure boards conducted in the fall of 2015. State-by-state analysis of laws and administrative rules was also conducted to add to the
                                        survey data, especially for the jurisdictions that did not submit information in response to our request.</p>
                                </div>
                                <div id="tab11" class="tab-container-item">
                                    <p>Setting score requirements too high means you could be rejecting qualified applicants, while setting them too low means applicants may not have the skills</p>
                                </div>
                                <div id="tab12" class="tab-container-item">
                                    <p>Comparing Assessment Tools & Methods. Formative and Summative Assessment. Formative Assessments: Formative assessments (interactive classroom discussions, self- </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab2" class="tab-container-item">
                <p>The information in this report was compiled through a survey of state counselor licensure boards conducted in the fall of 2015. State-by-state analysis of laws and administrative rules was also conducted to add to the survey data, especially
                    for the jurisdictions that did not submit information in response to our request.</p>
            </div>
            <div id="tab3" class="tab-container-item">
                <p>Setting score requirements too high means you could be rejecting qualified applicants, while setting them too low means applicants may not have the skills</p>
            </div>
            <div id="tab4" class="tab-container-item">
                <p>Comparing Assessment Tools & Methods. Formative and Summative Assessment. Formative Assessments: Formative assessments (interactive classroom discussions, self- </p>
            </div>
        </div>
    </div>
</div>