<section class="test-advisor cmp-container--body">
    <div class="col-12 col-lg-10">
        <ul>
            <li class="test-advisor-list" data-inviewport="scale-in">
                <figure>
                    <img alt="Find the right test for you" src="/src/main/webpack/resources/images/test_taker_icon.svg" />
                </figure>
                <span class="test-advisor-list-text body-text">Accepted at thousands of graduate, business andlaw schools
            </span>
            </li>
            <li class="test-advisor-list" data-inviewport="scale-in">

                <figure>
                    <img alt="Prove your english ability" src="/src/main/webpack/resources/images/english_test_icon.svg" />
                </figure>
                <span class="test-advisor-list-text body-text">Using ScoreSelect®, you can take the test more than once then
                send ONLY your best scores</span>
                </a>
            </li>
            <li class="test-advisor-list" data-inviewport="scale-in">
                <figure>
                    <img alt="Gain your license to teach" src="/src/main/webpack/resources/images/teaching_license.svg" />
                </figure>
                <span class="test-advisor-list-text body-text"> Scores </span>
                </a>
            </li>
            <li class="test-advisor-list" data-inviewport="scale-in">

                <figure>
                    <img alt="Prove your english ability" src="/src/main/webpack/resources/images/english_test_icon.svg" />
                </figure>
                <span class="test-advisor-list-text body-text">Using </span>
                </a>
            </li>
            <li class="test-advisor-list" data-inviewport="scale-in">
                <figure>
                    <img alt="Gain your license to teach" src="/src/main/webpack/resources/images/teaching_license.svg" />
                </figure>
                <span class="test-advisor-list-text body-text"> Scores are </span>
                </a>
            </li>
        </ul>
        <div class="test-advisor-cta-container">
            <a class="cta-btn-primary" href="">About Praxis</a>
            <div class="test-advisor-cta-container-sub">
                <a class="quotes-banner-link-btn" href="">Compare with Other Tests</a>
                <a class="quotes-banner-link-btn" href="">Compare with Other Tests</a>
            </div>
        </div>
    </div>
</section>