<section class="test-fee-filter cmp-container--body">
    <div class="test-fee-filter__title">
        Approved GRE MBA program
    </div>
    <select class="test-fee-dropdown" id="test-fee" data-placeholder="Select fees dropdown" aria-label="feesdropdown" data-test-fee-path="/src/main/webpack/components/js/testFeeDropdown.json">
        <option></option>
    </select>
    <table class="test-fee-filter__table" role="table">
        <tbody class="test-fee-filter__table__content">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
            </tr>
        </tbody>
    </table>
    <p>Approved GRE MBA program</p>
</section>