<dialog id="toeflModernizationDailog" data-mt="tofel" data-session="true" class="toefl-modernization-dialog cmp-button--secondary" data-isEnabled="true" style="background-image: url('/src/main/webpack/resources/images/modal-toefl-itp.jpg');" open>
    <button class="model-close-button"><img src="/content/dam/ets-org/icons/commons/circle-x.svg" alt="copyimage"></button>
    <div class="toefl-modernization-dialog--container">
        <div class="toefl-modernization-dialog--container--content">
            <p><span class="heading1">Lorem ipusum dolore sit amet</span></p>
            <p>Lorem ipusum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravidia dolor sit amet lacus accumsan et viverra justo commodo.</p>
            <!-- <div class="copy-link-container">
                <input type="text" value="SUMMERSAVE123" id="copyCodeInput" disabled tabindex="-1">
                <button class="copy-button"><img src="/src/main/webpack/resources/images/copy.svg" alt="copyimage"></button>
            </div> -->
            <a class="cmp-button" href="">Get Started</a>
        </div>
    </div>
</dialog>

<dialog id="toeflModernizationDailog" class="toefl-modernization-dialog toefl-modernization-dialog--summer-save cmp-button--secondary" data-isEnabled="true" style="background-image: url('/src/main/webpack/resources/images/modal-toefl-tdss.png');" open>
    <button class="model-close-button"><img src="/content/dam/ets-org/icons/commons/circle-x-black.svg" alt="copyimage"></button>
    <div class="toefl-modernization-dialog--container">
        <div class="toefl-modernization-dialog--container--content">
            <p class="heading1">Take advantage of summer savings now!</p>
            <p class="heading2">Save $60 USD when you take a GRE® General Test by Sept. 20 <br/>with code <span class="copy-link-container">
                <input type="text" value="GRE602023" id="copyCodeInput1" disabled tabindex="-1">
                <button class="copy-button" data-copytarget="copyCodeInput1"><img src="/content/dam/ets-org/icons/commons/copy-orange.svg" alt="copyimage"></button>
            </span></p>
            <p class="heading2">Save $50 USD on a retest through Dec. 31 <br/>with code GRE502023 <span class="copy-link-container">
                <input type="text" value="GRE502023" id="copyCodeInput2" disabled tabindex="-1">
                <button class="copy-button" data-copytarget="copyCodeInput2"><img src="/content/dam/ets-org/icons/commons/copy-orange.svg" alt="copyimage"></button>
            </span></p>
            <a class="cmp-button" href="">Register today and save!</a>
            <p class="note">Offer terms and conditions: The $60 discount is valid for a GRE General Test appointment through September 20, 2023. Once registration is completed, the purchaser will become eligible for a discount of $50 off another GRE General Test registration for a test appointment at least 21 days after their first appointment through December 31, 2023. These discounts cannot be applied to previous registrations or purchases combined with any other offers and are not valid for cash or cash equivalent. Offers are void where prohibited by law and all federal, state, and local laws and regulations apply. There are no guarantees of seat availability and ETS may modify or discontinue these offers at any time without notice.</p>
        </div>
    </div>
</dialog>