<section class="tofel-destinations-search-template">
    <h1 class="heading1">TOEFL<sup>®</sup> Destinations Search</h1>
    <p>Search by name or location to find institutions and programs that accept TOEFL<sup>®</sup> scores</p>
    <div class="tofel-destinations-search">
        <div class="tofel-destinations-search__select">
            <div class="tofel-destinations-search__select__container">
			<div class="tofel-destination-search-radio">
			<div class="tofel-radiogroup">
			<input type="radio" name="tofelSearchType" id="institutionRadio" value="name">
            <label for="institutionRadio" class="tofel-destination-radio-label">Institution</label>
			</div>
			<div class="tofel-radiogroup">
            <input type="radio" name="tofelSearchType" id="locationRadio" value="loc">
            <label for="locationRadio" class="tofel-destination-radio-label">Location</label>
			</div>
			</div>
                <form id="tofel-destinations-form">
                    <i class="research-search__select__search-icon"><img
                        src="/src/main/webpack/resources/images/searchIcon_blue.png" alt=""></i>
                    <input id="tofelSearchInput" aria-label="Search" type="search" placeholder="Find Institutions/Locations that accept TOEFL scores">
                    <a id="tofelSearchButton" class="cta-btn-primary" href="javascript:;"><span class="d-none d-md-block">Search</span><i class="d-block d-md-none state-search__select__left-arrow"></i> </a>
                </form>
            </div>
        </div>
    </div>
    <div class="tofel-destinations-results--wrap d-none" >
        <div class="tofel-destinations-results--body">
            <div class="tofel-destinations-results--head">
                <p id="td-empty-result" class="td-empty-result d-none">Please provide valid search criteria.</p>
                <div id="td-result-count-text" aria-live="polite" class="td-result-count-text d-none"></div>
                <p id="td-no-results" class="d-none">There are currently no results available for your search. Please check the spelling or refine your search and try again.</p>
            </div>
            <div class="tofel-destinations-result--data-container accordion-container" style="--accordian-plus-icon:url('/src/main/webpack/resources/images/accordion_plus.svg');--accordian-minus-icon:url('/src/main/webpack/resources/images/accordion_minus.svg')" data-td-result-path="https://ccdi-pub.ets.org/ccdi-pub/destinations-search?">
                <div id="tofelDestinationsResults" class="tofel-destinations-list--body accordion"></div>
                <div class="litePagination tdsPagination cmp-button--tertiary d-none">
                    <!-- <a href="#" class="first" data-action="first">&laquo;</a> -->
                    <a href="#" class="previous button cmp-button hover--primary cmp-button-arrow" data-action="previous"><span class="cmp-button__icon--leftArrowBlue" aria-hidden="true"></span>Prev</a>
                    <input type="text" /> <div class="page-result-text"><span class="current-page d-none">0</span> of <span class="max-page">0</span></div>
                    <a href="#" class="next button cmp-button hover--primary" data-action="next">Next<span class="cmp-button__icon--rightArrowBlue" aria-hidden="true"></span></a>
                    <!-- <a href="#" class="last" data-action="last">&raquo;</a> -->
                </div>
                <div class="tofel-destinations-load-more d-none">
                    <a id="tofelSearchLoadMore" class="cta-btn-primary disabled" tabindex="-1" href="javascript:;"><span class="d-block">Load more</span></a>
                </div>
                
                <div class="tofel-destinations-note d-none">
                    <p><strong>Note: </strong>ETS provides these search results as a guide. Please contact institutions directly to verify accuracy of your search results.</p>
                </div>
            </div>
        </div>
    </div>
</section>