<div class="cmp-container--body">
 <article class="vertical-tab-container">
   <nav class="vertical-tab-container__navigation">
     <p class="vertical-tab-container__label label-title d-none d-md-flex">Additional Resources</p>
    <ul class="nav flex-column d-none d-md-flex" id="myTab" role="tablist" aria-orientation="vertical">
        <li class="nav-item" role="presentation">
          <button class="nav-link title21-28 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><span class="nav-item--seperator">ETS Fairness and Equity</span></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link title21-28" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><span class="nav-item--seperator">ETS Missions and Values</span></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link title21-28" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><span class="nav-item--seperator">Research Topics</span></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link title21-28" id="contact-tab" data-bs-toggle="tab" data-bs-target="#video" type="button" role="tab" aria-controls="video" aria-selected="false"><span class="nav-item--seperator">Research Videos</span></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link title21-28" id="contact-tab" data-bs-toggle="tab" data-bs-target="#video1" type="button" role="tab" aria-controls="video" aria-selected="false"><span class="nav-item--seperator">Research Videos</span></button>
        </li>
      </ul>
    </nav>
      <div class="vertical-tab-container__tab-value tab-content" id="myTabContent">
        <p class="vertical-tab-container__label label-title d-sm-flex d-md-none d-lg-none">Additional Resources</p>
        <!-- for image text component-->
        <div class="vertical-tab-container--pane tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p class="title21-28 vertical-tab-container-sm-heading d-sm-flex d-md-none d-lg-none">ETS Fairness and Equity</p>
            <img src="/src/main/webpack/resources/images/tab-container-1.png" alt=""/>
            <p class="vertical-tab-container__tabcontent-value">Designed to address the growing need to verify that teachers and school leaders have the necessary skills to drive student achievement and learning.</p>
            <a href="#" class="cta-text-link text-start">learn more</a>
        </div>
        <!-- for two coloum component-->
        <div class="vertical-tab-container--pane tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p class="title21-28 vertical-tab-container-sm-heading d-sm-flex d-md-none d-lg-none">Score User Services</p>
            <img src="/src/main/webpack/resources/images/tab-container-2.png" alt=""/>
            <div class="vertical-tab-container__two-panel d-flex">
              <div class="vertical-tab-container__two-panel__wrapper">
                <div class="vertical-tab-container__two-panel__body">
                  <p class="vertical-tab-container__two-panel__body__subheading">Improving Educational Equity and Informing Policy</p>
                  <p class="vertical-tab-container__two-panel__body__content">Ensuring opportunity for learners through policy and practice-based applications.</p>
                </div>
                <div class="vertical-tab-container__two-panel__footer">
                  <a href="#" class="cta-text-link text-start">learn more</a>
                </div> 
              </div>
              <div class="vertical-tab-container__two-panel__wrapper">
                <div class="vertical-tab-container__two-panel__body">
                  <p class="vertical-tab-container__two-panel__body__subheading">Fairness and Equity</p>
                  <p class="vertical-tab-container__two-panel__body__content">Learn more about ETS’s commitment to fairness and equity in assessment and learning.</p>
                </div>
                <div class="vertical-tab-container__two-panel__footer">
                  <a href="#" class="cta-text-link text-start">learn more</a>
                </div> 
              </div>
            </div>
        </div>  
        <!-- for seperator component-->
        <div class="vertical-tab-container--pane tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <p class="title21-28 vertical-tab-container-sm-heading d-sm-flex d-md-none d-lg-none">Research Topics</p>
          <img src="/src/main/webpack/resources/images/tab-container-2.png" alt=""/>
            <!-- Default dropend button -->
            <article class="tabbed-content tabs-side">
              <nav class="tabs">
                <ul class="p-0">
                  <li><a href="#side_tab1" class="active"><span>Testing Assessment</span><span class="item-arrow">
                    <img src='/src/main/webpack/resources/images/right-arrow.png' alt=""/>
                  </span></a></li>
                  <li><a href="#side_tab2"><span>WorkPlace Communication</span><span class="item-arrow">
                    <img src='/src/main/webpack/resources/images/right-arrow.png' alt=""/>
                  </span></a></li>
                </ul>
              </nav> 
              <section id="side_tab1" class="item active active-link" data-title="Testing Assessment">
                <span class="item-arrow">
                  <img src='/src/main/webpack/resources/images/right-arrow.png' alt=""/>
                  <img class="onactive" src='/src/main/webpack/resources/images/down-arrow.png' alt=""/>
                </span>
                <div class="item-content">
                 <ul>
                   <li><a href="#">Fairness and Equity</a></li>
                   <li><a href="#">Testing Assessment</a></li>
                 </ul>
                </div>
              </section>
              <section id="side_tab2" class="item" data-title="WorkPlace Communication">
                <span class="item-arrow">
                  <img src='/src/main/webpack/resources/images/right-arrow.png' alt=""/>
                  <img class="onactive" src='/src/main/webpack/resources/images/down-arrow.png' alt=""/>
                </span>
                <div class="item-content">
                  <ul>
                  <li><a href="#">Fairness and Equity</a></li>
                  <li><a href="#">Test Assessment</a></li>
                 </ul>
                </div>
            </article>
        </div>
         <!-- for video component-->
         <div class="vertical-tab-container--pane tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
          <p class="title21-28 vertical-tab-container-sm-heading d-sm-flex d-md-none d-lg-none">Research Videos</p>
          <section class="video-container row">
            <div class="video-container__video ratio ratio-16x9">
             <div id="kaltura_player_289769231"> <!--// video-container_player -->
                 <video controls id="video-element" src="/src/main/webpack/resources/videos/ets-account-create.mp4" preload="auto" poster="/src/main/webpack/resources/images/image-114.png"></video>
                 </video>
                 <!-- <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/525615229?api=1&player_id=1" id="video-element" allow="fullscreen;" allowscriptaccess="always"></iframe> -->
              </div>
            </div>
          </section>
          <p class="vertical-tab-container__tabcontent-value">Designed to address the growing need to verify that teachers and school leaders have the necessary skills to drive student achievement and learning.</p>
          <a href="#" class="cta-text-link text-start">learn more</a>
      </div>
      <div class="vertical-tab-container--pane tab-pane fade" id="video1" role="tabpanel" aria-labelledby="video-tab">
        <p class="title21-28 vertical-tab-container-sm-heading d-sm-flex d-md-none d-lg-none">Research Videos</p>
        <section class="video-container row">
          <div class="video-container__video ratio ratio-16x9">
           <div id="video-container_player"> <!--// video-container_player -->
               <video controls id="video-element" src="/src/main/webpack/resources/videos/ets-account-create.mp4" preload="auto" poster="/src/main/webpack/resources/images/image-114.png"></video>
               </video>
               <!-- <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/525615229?api=1&player_id=1" id="video-element" allow="fullscreen;" allowscriptaccess="always"></iframe> -->
            </div>
          </div>
        </section>
        <p class="vertical-tab-container__tabcontent-value">Designed to address the growing need to verify that teachers and school leaders have the necessary skills to drive student achievement and learning.</p>
        <a href="#" class="cta-text-link text-start">learn more</a>
    </div>    
    </div>
    </article>
</div>