<div class="video-banner-background">
    <div class="cmp-container--body row">
        <div class="video-content col-12 col-sm-12 col-lg-5 order-2 order-sm-2 order-lg-1">
            <div class="heading3 video-content-title">
                FEATURED NEWS
            </div>
            <p>
                A Finance and Technology Leader’s Perspective on Developing Students’ Passions in Academia
            </p>
            <div class="article-banner-button-band">
                <a class="cta-btn-secondary" href="">Read more</a>
                <a class="cta-text-link-white" href="">ALL NEWS & Insights</a>
            </div>
        </div>
        <div class="video-img col-12 col-sm-12 col-lg-7 order-1 order-sm-1 order-lg-2">
            <img src="/src/main/webpack/resources/images/video.svg">
        </div>
    </div>
</div>