<div class = "cmp-container--body">
    <section class="videoText">
         <div class="videoText__container">
            <input type="image" data-video-id="kaltura_player_289769231" data-bs-toggle="modal" data-bs-target="#myModal" data-video-type="KalturaVideo" data-w-id="_1407311" data-uiconf-id="45010862" data-kalturavideo-id="1_uo2d65ac" data-target-id="kaltura_player_289769231" src="/src/main/webpack/resources/images/image 114.png"/>
            <!-- <input type="image" data-video-id="video-element-1213545" data-bs-toggle="modal" data-poster="/src/main/webpack/resources/images/article_banner.png" data-src="/src/main/webpack/resources/videos/ets-account-create.mp4" data-bs-target="#myModal" src="/src/main/webpack/resources/images/image 114.png" /> -->
            <a href="#">View Transcript</a>
        </div>
        <div class="videoText__content">
            <h2>Last year was a year of tremendous challenges that forced the world of education to continually pivot and adapt. ETS’s mission – to advance quality and equity in education by providing fair and valid assessments, research and related services – has never been more critical.</h2>
        </div>
    </section>
</div>

<!-- Modal Video Container -->

<div class="modal-container">

<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
               <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></span>
                </button>        
            <!-- 16:9 aspect ratio -->
                <div id="modal-video-player" class="ratio ratio-16x9">
               <!--Based on condition DAM or 3rd Party video either iframe and video tag will be selected-->
              <!-- <video controls autoplay id="video-element-1213545" src="" preload="auto" poster=""></video>
              </video> -->
              <div id="kaltura_player_289769231"></div>
                  <!-- <iframe class="embed-responsive-item" src="" id="video-element" allow="fullscreen;autoplay" allowscriptaccess="always"></iframe>-->
                </div>
             </div>
         </div>
       </div>
    </div> 
  </div>