<div class="cmp-container--body">
    <section class="video-container row">
       <div class="video-container__video ratio ratio-16x9">
         <div id="kaltura_player_289769231">
         </div>
       </div>
       <div class="video-container__video ratio ratio-16x9">
        <div id="kaltura_player_289769231">
        </div>
      </div>
     </section>
  <!---Carousel video-->
<div class="carousel-video-container">
  <section class="videoText ratio ratio-16x9">
    <div class="videoText__container">
        <iframe id="video-element" src="https://player.vimeo.com/video/525615229?api=1&player_id=1" data-placeholder="/src/main/webpack/resources/images/image-114.png" allow="fullscreen;autoplay" allowscriptaccess="always"></iframe>
    </div>
  </section>
</div>
 </div>