<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-text'}"></sly>
	<div class="block about-pills--container">
		<img class="img-pill" src="${properties.imagepath}" alt="${properties.altText || true}">
		<span class="rellax rellax-1" data-rellax-speed="2"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Rectangle 65.svg" alt=""></span>
		<span class="rellax rellax-2" data-rellax-speed="1"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Rectangle 61.svg" alt=""></span>
		<span class="rellax rellax-3" data-rellax-speed="6"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Group 994.svg" alt=""></span>
		<span class="rellax rellax-4" data-rellax-speed="5"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Group 999.svg" alt=""></span>
		<span class="rellax rellax-5" data-rellax-speed="2"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Group 995.svg" alt=""></span>
		<span class="rellax rellax-6" data-rellax-speed="4"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/set1.svg" alt=""></span>
		<span class="rellax rellax-7" data-rellax-speed="2"><img src="/etc.clientlibs/ets/clientlibs/clientlib-site/resources/images/pills/about/Rectangle 104.svg" alt=""></span>
	</div>